<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/dtd/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.doran.mapper.CsMapper">
	<!-- 공지사항 -->
	<select id="selectNotice" parameterType="int" resultType="notice">
	SELECT *
		FROM TB_NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</select>
	
	<select id="selectNoticeList" parameterType="map" resultType="notice">
	<![CDATA[
		SELECT *
			FROM TB_NOTICE
	]]>
			<if test="noticeSearch.searchKeyword != null and noticeSearch.searchKeyword != ''">
				<if test="noticeSearch.searchCondition == 'ALL'">
				WHERE 1 = 0
				   OR NOTICE_TITLE LIKE CONCAT('%', #{noticeSearch.searchKeyword}, '%')
				   OR NOTICE_CONTENT LIKE CONCAT('%', #{noticeSearch.searchKeyword}, '%')
				</if>
				<if test="noticeSearch.searchCondition != 'ALL'">
				WHERE 1 = 1
					<if test="noticeSearch.searchCondition == 'TITLE'">
						AND NOTICE_TITLE LIKE CONCAT('%', #{noticeSearch.searchKeyword}, '%')
					</if>
					<if test="noticeSearch.searchCondition == 'CONTENT'">
						AND NOTICE_CONTENT LIKE CONCAT('%', #{noticeSearch.searchKeyword}, '%')
					</if>
				</if>
			</if>
			LIMIT #{cri.amount} OFFSET #{cri.startNum}
	</select>
	
	<select id="getNoticeTotalCnt" parameterType="map" resultType="int">
		SELECT COUNT(*)
			FROM TB_NOTICE
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 'ALL'">
				WHERE 1 = 0
				   OR NOTICE_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
				   OR NOTICE_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
				</if>
				<if test="searchCondition != 'ALL'">
				WHERE 1 = 1
					<if test="searchCondition == 'TITLE'">
						AND NOTICE_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
					</if>
					<if test="searchCondition == 'CONTENT'">
						AND NOTICE_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
					</if>
				</if>
			</if>
	</select>
	
	<!-- 1:1 문의 -->
	
	<select id="selectQuestion" parameterType="int" resultType="notice">
	SELECT *
		FROM TB_NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</select>
	
	<select id="selectQuestionList" parameterType="map" resultType="notice">
	<![CDATA[
		SELECT *
			FROM TB_NOTICE
	]]>
			<if test="noticeSearch.searchKeyword != null and noticeSearch.searchKeyword != ''">
				<if test="noticeSearch.searchCondition == 'ALL'">
				WHERE 1 = 0
				   OR NOTICE_TITLE LIKE CONCAT('%', #{noticeSearch.searchKeyword}, '%')
				   OR NOTICE_CONTENT LIKE CONCAT('%', #{noticeSearch.searchKeyword}, '%')
				</if>
				<if test="noticeSearch.searchCondition != 'ALL'">
				WHERE 1 = 1
					<if test="noticeSearch.searchCondition == 'TITLE'">
						AND NOTICE_TITLE LIKE CONCAT('%', #{noticeSearch.searchKeyword}, '%')
					</if>
					<if test="noticeSearch.searchCondition == 'CONTENT'">
						AND NOTICE_CONTENT LIKE CONCAT('%', #{noticeSearch.searchKeyword}, '%')
					</if>
				</if>
			</if>
			LIMIT #{cri.amount} OFFSET #{cri.startNum}
	</select>
	
	<select id="getQuestionTotalCnt" parameterType="map" resultType="int">
		SELECT COUNT(*)
			FROM TB_QUESTION
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 'ALL'">
				WHERE 1 = 0
				   OR Q_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
				   OR Q_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
				</if>
				<if test="searchCondition != 'ALL'">
				WHERE 1 = 1
					<if test="searchCondition == 'TITLE'">
						AND NOTICE_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
					</if>
					<if test="searchCondition == 'CONTENT'">
						AND NOTICE_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
					</if>
				</if>
			</if>
	</select>
	
</mapper>