<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>

</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">

		<link rel="stylesheet" th:href="@{/css/play.css}" />

		<div class="v112_539">

			<div class="v89_238">
				<div class="v89_239"></div>
				<div class="v89_240"></div>
				<span class="v89_241">놀아줘요</span>
			</div>

			<div class="v89_245">
				<img class="backImg" th:src="@{/images/boardBack.png}" />
			</div>
			<div class="v89_249">
				<img class="iconImg" th:src="@{/images/playIcon.png}" />
			</div>

			<div class="v112_665"></div>
			<div class="v112_666"></div><span class="v112_667">댓글</span><span class="v112_668">2</span><span
				class="v112_669">등록</span>
			<div class="v112_670"></div>
			<div class="v112_712"></div>
			<div class="v112_751"></div>
			<div class="v112_750"></div>
			<div class="v112_671"></div><span class="v112_672">댓글</span><span class="v112_673">2</span><span
				class="v112_674">등록</span>
			<div class="v112_675"></div><span class="v112_710">저랑 가위바위보 하실 분 구해요~</span><span class="v112_711">참고로 전 가위
				낼
				거예요.</span>
			<div class="v112_769"></div>
			<div class="v112_770"></div><span class="v112_771">수정</span><span class="v112_772">삭제</span>
		</div>

	</div>
</body>

</html>