<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>

</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">

		<link rel="stylesheet" th:href="@{/css/play.css}" />

		<div class="v112_539" style="position: relative;">

			<div class="v89_238">
				<div class="v89_239"></div>
				<div class="v89_240"></div>
				<span class="v89_241">놀아줘요</span>
			</div>

			<div class="v89_245">
				<img class="backImg" th:src="@{/images/boardBack.png}" />
			</div>
			<div class="v89_249">
				<img class="iconImg" th:src="@{/images/playIcon.png}" />
			</div>
			<button class="backBtn" onclick="location.href='/play/selectPlayList'">목록으로</button>
			<div class="bar1"></div>
			<div class="bar2"></div>
			<span class="playTitle" id="playTitle" th:text="${play.playTitle}"></span>
			<div class="playContentContainer">
			<span class="playContent" id="playContent" th:text="${play.playContent}"></span></div>
			<button class="replyInsertBtn">등록</button>
			<span class="v112_672">댓글</span>
			<div class="replyInputContainer">
				<input class="replyInput"></input>
			</div>
			<button class="updateBtn" th:onclick="|location.href='@{/play/updatePlayPage?playNo={playNo} (playNo = ${play.playNo})}'|">수정</button>
			<button class="deleteBtn" th:onclick="|location.href='@{/play/deletePlay?playNo={playNo} (playNo = ${play.playNo})}'|">삭제</button>
		</div>

	</div>
</body>

</html>