.container{
	  width: 100%;
	  height: 1317px;
	  opacity: 1;
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  overflow: hidden;
	  position: relative;
	  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.joinListContainer{
	width: 295px;
    height: 295px;
    background: rgba(245,245,245,1);
    opacity: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    margin : 20px;
    position: relative;
    box-shadow: 3px 3px 3px 3px #00000012;
    cursor : pointer;
}


.boardContainer{
	height: 50%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}


/* insertJoin */

* {
		box-sizing: border-box;
	    position: relative;
		
	}

	body {
		font-size: 14px;
	}

	.v89_351 {
		width: 100%;
		height: 2000px;
		background: rgba(255, 255, 255, 1);
		opacity: 1;
		position: absolute;
		top: 0px;
		left: 0px;
		overflow: hidden;
	}
	
	.subTitle {
		width: 570px;
		color: #EEC400;
		position: absolute;
		top: 620px;
		left: 330px;
		font-family: EF_AONE;
		font-weight: lighter;
		font-size: 50px;
		opacity: 1;
		text-align: left;
	}
	
	/* insertJoin 타이틀 글자 css */
	.joinCd{
		width: 151px;
	    color: #EEC400;
	    position: absolute;
	    top: 772px;
	    left: 327px;
	    font-family: Inter;
	    font-weight: Regular;
	    font-size: 30px;
	    opacity: 1;
	    text-align: left;
	}
	
	.joinCdInput {
		width: 250px;
	    height: 60px;
	    background: rgba(245, 245, 245, 1);
	    opacity: 1;
	    position: absolute;
	    top: 820px;
	    left: 327px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    border-bottom-left-radius: 10px;
	    border-bottom-right-radius: 10px;
	    overflow: hidden;
	}
	
	select{
		width: 100%;
	    height: 100%;
	    border: 0px;
	    background: none;
	    font-size: 1.4em;
	    padding: 10px;
	}
	
	select:focus {
    	outline: none;
	}
	
	select option {
		background: #fbf3ce;
		color : #1761A0;
		font-weight: bold;
		outline : none;
	}
	
	.joinCnt{
		width: 130px;
	    color: #EEC400;
	    position: absolute;
	    top: 998px;
	    left: 705px;
	    font-family: Inter;
	    font-weight: Regular;
	    font-size: 30px;
	    opacity: 1;
	    text-align: left;
	}
	
	.joinCntInput{
		width: 109px;
	    height: 60px;
	    background: rgba(245, 245, 245, 1);
	    opacity: 1;
	    position: absolute;
	    top: 1047px;
	    left: 705px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    border-bottom-left-radius: 10px;
	    border-bottom-right-radius: 10px;
	    overflow: hidden;
	}
	
	.joinDtmInput{
		width: 330px;
	    height: 60px;
	    background: rgba(245, 245, 245, 1);
	    opacity: 1;
	    position: absolute;
	    top: 1047px;
	    left: 327px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    border-bottom-left-radius: 10px;
	    border-bottom-right-radius: 10px;
	    overflow: hidden;
	}
	
	.doneYn{
		width: 130px;
	    color: #EEC400;
	    position: absolute;
	    top: 1115px;
	    left: 327px;
	    font-family: Inter;
	    font-weight: Regular;
	    font-size: 30px;
	    opacity: 1;
	    text-align: left;
	}
	
	.v89_472 {
	    width: 96px;
	    color: #EEC400;
	    position: absolute;
	    top: 722px;
	    left: 327px;
	    font-family: Inter;
	    font-weight: Regular;
	    font-size: 30px;
	    opacity: 1;
	    text-align: left;
	}
	.v89_467 {
		width: 130px;
		color: #EEC400;
	    position: absolute;
		top: 884px;
		left: 327px;
		font-family: Inter;
		font-weight: Regular;
		font-size: 30px;
		opacity: 1;
		text-align: left;
	}
	.v89_475 {
		width: 28px;
	    color: #EEC400;
	    position: absolute;
	    top: 1050px;
	    left: 824px;
	    font-family: Inter;
	    font-weight: Regular;
	    font-size: 30px;
	    opacity: 1;
	    text-align: left;
	}
	.v89_468 {
		width: 130px;
		color: #EEC400;
	    position: absolute;
		top: 998px;
		left: 327px;
		font-family: Inter;
		font-weight: Regular;
		font-size: 30px;
		opacity: 1;
		text-align: left;
	}
	
	.v89_444 {
		width: 165px;
	    color: #EEC400;
	    position: absolute;
	    top: 1123px;
	    left: 327px;
	    font-family: Inter;
	    font-weight: Regular;
	    font-size: 30px;
	    opacity: 1;
	    text-align: left;
	}
	
	
	/**/
	
	.v89_462 {
		width: 70%;
	    height: 396px;
	    background: rgba(245, 245, 245, 1);
	    opacity: 1;
	    position: absolute;
	    top: 1256px;
	    left: 327px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    border-bottom-left-radius: 10px;
	    border-bottom-right-radius: 10px;
	    overflow: hidden;
	}

	.v89_463 {
		width: 40%;
		height: 60px;
		background: rgba(245, 245, 245, 1);
		opacity: 1;
		position: absolute;
		top: 707px;
		left: 327px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		overflow: hidden;
	}
	
	.joinPlaceInput{
		width: 40%;
	    height: 110px;
	    background: rgba(245, 245, 245, 1);
	    opacity: 1;
	    position: absolute;
	    top: 1686px;
	    left: 327px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    border-bottom-left-radius: 10px;
	    border-bottom-right-radius: 10px;
	    overflow: hidden;
	    padding: 14px;
	}
	
	.joinPlace{
		font-size : 1.5em;
		color : #EEC400;
		font-weight: bold; 
	}
	
	.JoinInput{
		width: 100%;
	    background: none;
	    padding: 20px;
	    font-size: 1.4em;
	}
	.JoinInput:focus{
		outline : none;
	}

	.v89_465 {
		width: 566px;
		height: 60px;
		/*background: rgba(245, 245, 245, 1);*/
		opacity: 1;
		position: absolute;
		top: 933px;
		left: 327px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		overflow: hidden;
		display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;
	}
	
	.v89_465 label{
		height: 38px;
	    width: 79px;
	    font-size: 1.4em;
	    font-weight: bold;
	    text-align: center;
	    border: 2px solid #EEC400;
	    border-radius: 20px;
	    margin: 5px;
	    line-height: 35px;
	    color: #EEC400;
	}
	
	input.typeCdInput {
		display: none;
	}
	
	input.typeCdInput:checked + label {
		background: #1761a0;
		color : #ffffff;
		border:0px;
		line-height: 38px;
	}

	.conditionBtns {
		height: 60px;
	    opacity: 1;
	    position: absolute;
	    top: 1160px;
	    left: 307px;
	    margin: 20px;
	}

	.conditionBtns input[type=radio]{
	    display: none;
	}
	.conditionBtns input[type=radio] + label {
	    color: #000000;
	    background: rgba(245, 245, 245, 1);
	    border-radius: 100px;
	    font-size: 1.5em;
	    padding: 15px;
	    margin: 10px;
	}
	.conditionBtns input[type=radio]:checked + label {
	    background: #EEC400;
	    color:#FFFFFF;
	}

	.joinContent{
		width: 100%;
	    height: 100%;
	    background: none;
	    padding: 30px;
	    font-size: 1.4em;
	    border:0px;
	    line-height: 35px;
	}
	.joinContent:focus{
		outline:none;
	}
	
	.cancelBtn {
		width: 120px;
		height: 60px;
		background: rgba(181, 179, 179, 1);
		opacity: 1;
		position: absolute;
		top: 1822px;
		left: 1366px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		overflow: hidden;
		border:0px;
		font-size: 1.5em;
		font-weight: bold;
	}

	.insertBtn {
		width: 120px;
		height: 60px;
		background: rgba(251, 243, 206, 1);
		opacity: 1;
		position: absolute;
		top: 1822px;
		left: 1511px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		overflow: hidden;
		border:0px;
		font-size: 1.5em;
		font-weight: bold;
		color:#EEC400;
	}
	
	.cancelBtn:hover, .insertBtn:hover{
		background-color: #CFE1FC ;
		color : #1761A0;
		cursor : pointer;
	}

	.filebox{
		top: 1175px;
	    left: 338px;
	    position: absolute;
	}
	
	.filebox label {
	  display: inline-block;
	  padding: .5em .75em;
	  color: #EEC400;
	  font-size: 1.2em;
	  font-weight: bold;
	  line-height: normal;
	  vertical-align: middle;
	  background-color: #fdfdfd;
	  cursor: pointer;
	  border: 1px solid #ebebeb;
	  border-bottom-color: #e2e2e2;
	  border-radius: .25em;
	}
	
	.filebox input[type="file"] {  /* 파일 필드 숨기기 */
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  padding: 0;
	  margin: -1px;
	  overflow: hidden;
	  clip:rect(0,0,0,0);
	  border: 0;
	}


	/* selectJoinList */
	
	.title{
		font-size: 1.6em;
	    display: flex;
	    font-weight: bold;
	    justify-content: center;
	    align-items: center;
	    height: 60%;
	    width:80%;
	    align-content: center;	
	}
	
	.price {
		width: 100%;
	    display: flex;
	    color: #EEC400;
	    padding-bottom: 4px;
	    font-size: 1.8em;
	    font-weight: bold;
	    flex-direction: row-reverse;
	    justify-content: center;
	}

	.cdImage{
		width: 80px;
	    height: 80px;
	    border-radius: 25px;
	    margin: 10px;
	    
	}
	
	.status{
		padding: 15px;
	    display: flex;
	    justify-content: center;
	    background: #EEC400;
	    width: 96px;
	    height: 15px;
	    border-radius: 63px;
	    color: #ffffff;
	    font-weight: bold;
	    text-align: center;
	    align-items: center;
	    margin:1px auto;
	}
	
	.text{
		z-index: 1;
	   	height: 295px;
	    position: absolute;
	    width: 295px;
	    cursor : pointer;
	    transform: translate(0px, -295px);
	}
	
	.ContainerBottom{
		height: 50%;
	    display: flex;
	    justify-content: flex-start;
	    flex-direction: column;
	    align-content: center;
	    align-items: center;
	    padding: 10px;
	    text-align: center;
	}
	
	.ContainerTop{
		height: 55%;
	    display: flex;
	    flex-direction: column;
	    align-content: center;
	    justify-content: center;
	    align-items: center;
	}
	
	.typeCd{
	    width: 77px;
	    height: 24px;
	    text-align: center;
	    color: #1761A0;
	    font-weight: bold;
	    border-radius: 10px;
	    border: 1px solid;
	    margin: 2px;
	}


	.typeCdTotal{
		display: flex;
	    flex-direction: row;
	    align-content: center;
	    justify-content: center;
	    align-items: center;
	    width: 100%;
	    flex-wrap: wrap;
	    height: 110px;
	    margin: 15px;
		}
	
	
	.searchInput {
	  width: 282px;
	  height: 40px;
	  opacity: 1;
	  position: absolute;
	  top: 614px;
	  left: 1360px;
	  overflow: hidden;
	  background: rgba(217,217,217,1);
	  border-radius: 10px;
	}
	
	.searchIcon {
	  width: 33px;
	  height: 33px;
	  background: url("../images/searchIcon.png");
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  opacity: 1;
	  position: absolute;
	  top: 3px;
	  left: 238px;
	  overflow: hidden;
	  border:0px;
	}
	
	.searchIcon:hover{
		cursor : pointer;
	}
	
	#searchKeyword {
		padding: 10px;
    	border: 0px;
    	background: none;
    	margin-top:1px;
    	font-size: 1.2em;
	}
	
	#searchKeyword:focus{
		outline:none;
	}
	
	
	/* paging */
	
	.page {
		text-align: center;
		width:100%;
	}
	
	.pagination {
		list-style: none;
		display : inline-block;
		padding : 0 ;
		margin : 20px auto;
	}
	
	.pagination li {
		display : inline;
		text-align: center;
	}
	
	.pagination a {
		float:left;
		display : block;
		font-size: 16px;
		text-decoration: none;
		padding : 5px 12px;
		color : #9f9f9f;
		line-height: 1.5;
	}
	
	.first {
		margin-left: 15px;
	}
	
	.last {
		margin-right : 15px;
	}
	
	.first:hover, .last:hover, .left:hover, .right:hover {
		color :#EEC400;
	}
	
	.pagination a:active {
		cursor : default;
		color : #ffffff;
	}
	
	.pagination a:active {
		outline : none;
	}
	
	.modal .num {
		margin-left : 3px;
		padding : 0;
		width : 30px;
		height : 30px;
		line-height: 30px;
		-moz-border-radius : 100%;
		-webkit-border-radius : 100%;
		border-radius: 100%;
	}
	
	.modal .num:hover {
		background-color : #EEC400;
		cursor : pointer;
	}
	
	.modal .num.active, .modal .num:active {
		background-color : #EEC400;
		cursor : pointer;
	}
	
	.arrow-left {
		width:0;
		height : 0 ;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid blue;
	}
	
	
	/* selectJoin */
	
	.replyBtns{
		display: flex;
	    justify-content: flex-end;
	    padding: 10px;
	}
	
	.replyBtns button{
		width: 5.9%;
	    font-size: 1em;
	    background: none;
	    border: 0px;
	    color: #1761a0;
	    font-weight: bolder;
	}
	
	.reReplyBtns{
		display: flex;
	    justify-content: flex-end;
	    padding: 10px;
	}
	
	.reReplyBtns button{
		width: 49px;
	    font-size: 1em;
	    background: none;
	    border: 0px;
	    color: #1761a0;
	    font-weight: bolder;
	}
	
	.replyBtns button:hover, .reReplyBtns button:hover{
		cursor:pointer;
		color:#EEC400;
	}
	
	.v112_539 {
    width: 100%;
    height: 1586px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .replyInputContainer {
    width: 70%;
    height: 50px;
    background: rgba(251, 243, 206, 1);
    opacity: 1;
    position: absolute;
    top: 97%;
    left: 17%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    overflow: hidden;
  }
  
  .replyInput{
    background: none;
    border: 0px;
    width: 90%;
    height: 25px;
    padding: 10px;
    font-size: 1.3em;
  }
  
  .replyInput:focus{
	  outline:none;
  }

  .replyInsertBtn {
    width: 80px;
    height: 50px;
    background:#EEC400;
    opacity: 1;
    position: absolute;
    top: 97%;
    left: 83%;
    border : 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: bold;
    color:#fbf3ce;
    z-index: 1;
  }

  .v112_672 {
    width: 62px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1480px;
    left: 327px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }

  .joinContentContainer {
	width: 70%;
    height: 300px;
    background: #fefdf5;
    position: absolute;
    top: 1103px;
    left: 327px;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
  }
  
  .joinCdContainer {
	width: 315px;
    height: 205px;
    position: absolute;
    top: 910px;
    left: 368px;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .joinTypeCd{
	width: 75px;
    height: 34px;
    text-align: center;
    color: #1761A0;
    font-weight: bolder;
    border-radius: 33px;
    border: 2px solid;
    margin: 5px;
    font-size: 1.2em;
    padding: 3px;
  }

  .joinTitle {
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 761px;
    left: 728px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
    padding-bottom: 10px;
  }

  .joinContent {
    width: 100%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 30px;
    text-align: left;
    color : black;
    opacity: 1;
    padding : 20px;
  }

  .updateBtn {
    width: 98px;
    height: 40px;
    background: rgba(181, 179, 179, 1);
    opacity: 1;
    position: absolute;
    top: 90%;
    left: 76%;
    border : 0px;
    border-radius: 10px;
    overflow: hidden;
    font-size : 1.2em;
    font-weight: bold;
  }

  .deleteBtn {
    width: 98px;
    height: 40px;
    background: rgba(181, 179, 179, 1);
    opacity: 1;
    position: absolute;
    top: 90%;
    left: 82%;
    border : 0px;
    border-radius: 10px;
    overflow: hidden;
    font-size : 1.2em;
    font-weight: bold;
  }
  
  .backBtn {
	width: 110px;
    height: 40px;
    background: #EEC400;
    color : #fbf3ce;
    opacity: 1;
    position: absolute;
    top:  687px;
    left: 80%;
    border: 0px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .updateBtn:hover, .deleteBtn:hover, .replyInsertBtn:hover, .backBtn:hover, .reReplyInsertBtn:hover {
	  background-color: #CFE1FC ;
	  color : #1761A0;
	  cursor : pointer;
  }
  
  .replyListContainer {
	width: 70%;
    top: 87%;
    left: 17%;
    padding: 15px;
  }
  
  .replyList{
	width:80%;
    opacity: 1;
    /* padding: 15px; */
    /* overflow: hidden; */
  }
  
  .replyUl{
	background: rgba(251, 243, 206, 1);
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:20px auto;
  }
  
  .replyUserNm{
	background: #ecc200;
    border-radius: 20px;
    color: white;
    height: 28px;
    text-align: center;
    line-height: 1.7;
    font-weight: bold;
    font-size: 1.2em;
    width: 11%;
  }
  
  .replyContent{
	padding: 20px;
    font-size: 1.3em;
    width: 1078px;
    background: none;
  }
  
  .replyContent:focus{
	  outline:none;
	  color : #1761A0;
	  font-weight: bold;
  }
  
  .reReplyInputContainer{
	width: 80%;
    height: 50px;
    background: rgba(251, 243, 206, 1);
    opacity: 1;
    left: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
 .reReplyInsertBtn{
	width: 79px;
    height: 50px;
    background: #EEC400;
    opacity: 1;
    border: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: bold;
    color: #fbf3ce;
    z-index: 1;
 }
 
 .reReplyUl{
	left: 5%;
    border: 3px dotted #EEC400;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:20px auto;
    padding : 5px;
 }
 
 .selectImg{
	top: 687px;
    left: 274px;
    width: 200px;
    height: 200px;
 }
 
 .joinStatus{
	color: #EEC400;
    position: absolute;
    top: 702px;
    left: 728px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
    width: 110px;
    height: 41px;
    border: 5px solid;
 }
 
 .joinListA{
	color: #1761A0;
    position: absolute;
    top: 856px;
    left: 728px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 4px dotted #CFE1FC;
    width : auto;
 }
 
 .joinListB{
	top: 865px;
    left: 1512px;
    width: 150px;
    height: 50px;
    font-size: 1.4em;
    font-weight: bold;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    background: #f44336;
    color:#ffffff;
 }