
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.findid-rPx {
  width: 100%;
  height: 80rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.findid-rPx .image-5-noQ {
  width: 30.3rem;
  height: 33.8rem;
  position: absolute;
  left: 108.3rem;
  top: 26.4rem;
  object-fit: cover;
  vertical-align: top;
}
.findid-rPx .item--KoL {
  width: 29.1rem;
  height: 7rem;
  position: absolute;
  left: 81.35rem;
  top: 33.3rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.75;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.findid-rPx .rectangle-35-z8n {
  width: 40rem;
  height: 23.7rem;
  position: absolute;
  left: 76rem;
  top: 44.4rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.findid-rPx .rectangle-48-VrE {
  width: 15rem;
  height: 3.5rem;
  position: absolute;
  left: 88.5rem;
  top: 61.4rem;
  background-color: #1761a0;
  border-radius: 0.5rem;
}
.findid-rPx .item--2LN {
  width: 3.5rem;
  height: 7rem;
  position: absolute;
  left: 94.15rem;
  top: 59.7rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 4.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.findid-rPx .item--8PQ {
  width: 10.7rem;
  height: 7rem;
  position: absolute;
  left: 90.55rem;
  top: 47.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.findid-rPx .dorandoran-2Dt {
  width: 17.9rem;
  height: 2.5rem;
  position: absolute;
  left: 87.05rem;
  top: 54rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 0.8928571429;
  letter-spacing: 0.154rem;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.findid-rPx .image-9-iMc {
  width: 31.0388rem;
  height: 26rem;
  position: absolute;
  left: 80.4rem;
  top: 8.9rem;
  object-fit: cover;
  vertical-align: top;
}
.findid-rPx .image-10-FMY {
  width: 31.0388rem;
  height: 26rem;
  position: absolute;
  left: 80.4rem;
  top: 8.9rem;
  object-fit: cover;
  vertical-align: top;
}
.findid-rPx .item-01-1-BFC {
  width: 14.1351rem;
  height: 14.1351rem;
  position: absolute;
  left: 122.1rem;
  top: 30.8rem;
  object-fit: cover;
  vertical-align: top;
}
