@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Godo';
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}
.findpw-WaS {
  width: 100%;
  height: 80rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.findpw-WaS .image-8-EmL {
  width: 30.3rem;
  height: 33.8rem;
  position: absolute;
  left: 110.6rem;
  top: 26.4rem;
  object-fit: cover;
  vertical-align: top;
}
.findpw-WaS .item--A9C {
  width: 31.5rem;
  height: 7rem;
  position: absolute;
  left: 75rem;
  top: 33.3rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.75;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.findpw-WaS .rectangle-49-DNN {
  width: 40rem;
  height: 23.7rem;
  position: absolute;
  left: 76rem;
  top: 44.4rem;
  border: solid 0.2rem #1761a0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.findpw-WaS .rectangle-50-obU {
  width: 15rem;
  height: 3.5rem;
  position: absolute;
  left: 88.5rem;
  background-color: #1761a0;
  border-radius: 0.5rem;
  border:none;
  top: 59.7rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
}
.findpw-WaS .rectangle-50-obU:hover {
	background-color: #eec400;
}
.findpw-WaS .item--2z2 {
  width: 27.4rem;
  height: 7rem;
  position: absolute;
  left: 80.2rem;
  top: 47.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.5;
  color: #000000;
  white-space: nowrap;
}
.findpw-WaS .jaewonjkgmailcom-Vsc {
  width: 34.3rem;
  height: 2.5rem;
  position: absolute;
  left: 78.85rem;
  top: 54rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 900;
  line-height: 0.8928571429;
  letter-spacing: 0.154rem;
  color: #7e7e7e;
  white-space: nowrap;
  text-decoration: underline;
}
.findpw-WaS .image-11-d6e {
  width: 31.0388rem;
  height: 26rem;
  position: absolute;
  left: 80.4rem;
  top: 8.9rem;
  object-fit: cover;
  vertical-align: top;
}
.findpw-WaS .item-01-1-M2e {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 122.6rem;
  top: 32rem;
  object-fit: cover;
  vertical-align: top;
}
