
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--YUv {
  box-sizing: border-box;
  padding-top: 3.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--YUv .auto-group-slf4-4TG {
  margin-bottom: 7.05rem;
  box-sizing: border-box;
  padding: 2.3rem 0rem 3.9rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e7effb;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup {
  margin: 0rem 3.7rem 3.4rem 3.7rem;
  width: calc(100% - 7.4rem);
  height: 25.7rem;
  display: flex;
  column-gap: 1.9rem;
  align-items: center;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ddcn-gDk {
  box-sizing: border-box;
  padding: 2.7rem 31.5rem 2.7rem 2.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ddcn-gDk .group-34-QQe {
  margin: 0.2rem 1.95rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 2rem 1.5rem 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 2.3333333333;
  color: rgba(23, 97, 160, 0.9399999976);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #1761a0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ddcn-gDk .auto-group-58us-doC {
  width: 29.05rem;
  height: 17.1rem;
  position: relative;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ddcn-gDk .auto-group-58us-doC .item--muQ {
  width: 28.9rem;
  height: 7rem;
  position: absolute;
  left: 0.15rem;
  top: 10.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.8;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ddcn-gDk .auto-group-58us-doC .item--muQ .item--muQ-sub-0 {
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ddcn-gDk .auto-group-58us-doC .item--muQ .item--muQ-sub-1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ddcn-gDk .auto-group-58us-doC .item--muQ .item--muQ-sub-2 {
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ddcn-gDk .auto-group-58us-doC .item--1xA {
  width: 8.8rem;
  height: 7rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.8;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ddcn-gDk .auto-group-58us-doC .nnnn-nn-nn-iLn {
  width: 12rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.5;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ezwe-QUW {
  box-sizing: border-box;
  padding: 5.5rem 5rem 5.2rem 5rem;
  width: 53.5rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .auto-group-ezwe-QUW .nnnn--vxe {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
}
.item--YUv .auto-group-slf4-4TG .frame-1144-Zup .rectangle-104-ECe {
  width: 53.5rem;
  height: 25.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .auto-group-hpae-Zki {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .auto-group-hpae-Zki .rectangle-105-7XL {
  width: 192rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background-color: #fbf3ce;
}
.item--YUv .auto-group-slf4-4TG .auto-group-hpae-Zki .frame-1143-eXG {
  width: 64.75rem;
  height: 7rem;
  position: absolute;
  left: 64.45rem;
  top: 0;
  display: flex;
  align-items: center;
}
.item--YUv .auto-group-slf4-4TG .auto-group-hpae-Zki .frame-1143-eXG .item--avi {
  margin-right: 6.15rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.8;
  color: #707070;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .auto-group-hpae-Zki .frame-1143-eXG .group-33-Tjc {
  width: 18.9rem;
  height: 100%;
  position: relative;
  border-radius: 3rem;
  flex-shrink: 0;
}
.item--YUv .auto-group-slf4-4TG .auto-group-hpae-Zki .frame-1143-eXG .group-33-Tjc .rectangle-106-1WE {
  width: 18.9rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  background-color: #ffd3d0;
  border-radius: 3rem;
}
.item--YUv .auto-group-slf4-4TG .auto-group-hpae-Zki .frame-1143-eXG .group-33-Tjc .item--YWA {
  width: 10.4rem;
  height: 7rem;
  position: absolute;
  left: 2.8rem;
  top: 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.1818181818;
  color: #f44336;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--YUv .my-doran-QoG {
  margin-bottom: 1.4rem;
  text-align: right;
  display: flex;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 0.6944444444;
  letter-spacing: 0.198rem;
  color: #1761a0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa {
  margin-right: 8.2rem;
  width: calc(100% - 8.2rem);
  height: 93.35rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ {
  margin: 0.25rem 10.3rem 0rem 0rem;
  width: 21.15rem;
  height: 40.7rem;
  position: relative;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .rectangle-84-n38 {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #1761a0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .rectangle-88-udY {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 32.7rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #1761a0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .rectangle-85-S7g {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 8.1rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #4f95d1;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .rectangle-86-xbp {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 16.3rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #1761a0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .rectangle-87-gXp {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 24.5rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #1761a0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .frame-1147-D1x {
  width: 17.1rem;
  height: 35.3rem;
  position: absolute;
  left: 0;
  top: 2.7rem;
  row-gap: 5.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .frame-1147-D1x .item--X2e {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .frame-1147-D1x .item--pnS {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .frame-1147-D1x .item--vqU {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .frame-1147-D1x .item--ErA {
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .frame-1147-D1x .item--x1U {
  margin-left: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .icon-media-play-3Yi {
  width: 1.2136rem;
  height: 34.4025rem;
  position: absolute;
  left: 17.8rem;
  top: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .icon-media-play-3Yi .icon-media-play-ANS {
  margin-bottom: 6.4975rem;
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .icon-media-play-3Yi .vector-6Wz {
  margin-bottom: 6.5975rem;
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .icon-media-play-3Yi .icon-media-play-dmp {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .icon-media-play-3Yi .icon-media-play-dmp .vector-C4E {
  margin-bottom: 6.5975rem;
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .icon-media-play-3Yi .icon-media-play-dmp .icon-media-play-jpr {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .icon-media-play-3Yi .icon-media-play-dmp .icon-media-play-jpr .vector-6QW {
  margin-bottom: 6.6975rem;
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-qadg-fDQ .icon-media-play-3Yi .icon-media-play-dmp .icon-media-play-jpr .icon-media-play-2ox {
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW {
  width: 153.5rem;
  height: 100%;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-dnmx-KHG {
  margin: 0rem 96.6rem 2.85rem 4.9rem;
  width: calc(100% - 101.5rem);
  display: flex;
  align-items: center;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-dnmx-KHG .item--Ev2 {
  margin-right: 1rem;
  text-align: right;
  display: flex;
  font-size: 4rem;
  font-weight: 900;
  line-height: 0.625;
  letter-spacing: 0.22rem;
  color: #1761a0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-dnmx-KHG .item--ZBc {
  text-align: right;
  display: flex;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.1363636364;
  letter-spacing: 0.121rem;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk {
  box-sizing: border-box;
  padding: 6.8rem 37.7rem 6.7rem 37.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-top: double 6px #1761a0;
  background-color: #ffffff;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ {
  margin-bottom: 14.65rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .item--hSE {
  margin-bottom: 2.45rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 900;
  line-height: 0.8333333333;
  letter-spacing: 0.165rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ {
  margin: 0rem 0.1rem 1.726rem 0rem;
  width: 78rem;
  height: 17.9735rem;
  border-bottom: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox {
  margin-bottom: 0.2735rem;
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 17.7rem;
  overflow: hidden;
  position: relative;
  border-top: solid 0.3rem #000000;
  background-color: #f8f8f8;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C {
  box-sizing: border-box;
  padding: 1.9rem 6.9rem 0.9rem 5.05rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-cedg-viJ {
  margin: 0rem 0.2rem 2.8rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-cedg-viJ .item--fA6 {
  margin-right: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-cedg-viJ .item--NKQ {
  margin-right: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-cedg-viJ .item--HSN {
  margin-right: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-cedg-viJ .item--CZL {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-qihy-7gJ {
  margin: 0rem 0rem 4.2rem 1.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-qihy-7gJ .item-1-qMQ {
  margin: 0.1rem 16.3rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-qihy-7gJ .item--jxa {
  margin-right: 8.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-qihy-7gJ .item-0000-00-00-do4 {
  margin-right: 17.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-qihy-7gJ .item--kcn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #f44336;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-ozvx-gFY {
  margin: 0rem 30.1rem 0rem 28.05rem;
  width: calc(100% - 58.15rem);
  display: flex;
  column-gap: 1.45rem;
  align-items: center;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-ozvx-gFY .btn1-o5G {
  margin-bottom: 0.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-ozvx-gFY .item-1-Lqt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .list-kfQ .frame-1134-gox .auto-group-fur8-D3C .auto-group-ozvx-gFY .btn1-USJ {
  margin-bottom: 0.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .item--Apv {
  margin-left: 65.3rem;
  width: calc(100% - 65.3rem);
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .item--Apv .btn-6ia {
  margin-right: 0.8rem;
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #eec400;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #eec400;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-31-ABQ .item--Apv .btn-ko8 {
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #f44336;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #f44336;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .item--Mnv {
  margin-bottom: 2.45rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 900;
  line-height: 0.8333333333;
  letter-spacing: 0.165rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE {
  margin: 0rem 0.1rem 1.727rem 0rem;
  width: 78rem;
  height: 17.9735rem;
  border-bottom: solid 0.3rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE {
  margin-bottom: 0.2735rem;
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 17.7rem;
  overflow: hidden;
  position: relative;
  border-top: solid 0.3rem #000000;
  background-color: #f8f8f8;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG {
  box-sizing: border-box;
  padding: 1.9rem 7.1rem 0.9rem 5.05rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-urfp-bKt {
  margin: 0rem 0.2rem 2.8rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-urfp-bKt .item--XDY {
  margin-right: 18.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-urfp-bKt .item--SLW {
  margin-right: 15.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-urfp-bKt .item--YuL {
  margin-right: 19.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-urfp-bKt .item--U2J {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-r78e-BhQ {
  margin: 0rem 0rem 4.2rem 1.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-r78e-BhQ .item-1-Wza {
  margin: 0.1rem 16.25rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-r78e-BhQ .item--Rre {
  margin-right: 8.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-r78e-BhQ .item-0000-00-00-8WA {
  margin-right: 15.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-r78e-BhQ .item--FKt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #1761a0;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-lcft-mZ8 {
  margin: 0rem 29.9rem 0rem 28.05rem;
  width: calc(100% - 57.95rem);
  display: flex;
  column-gap: 1.45rem;
  align-items: center;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-lcft-mZ8 .btn1-HGa {
  margin-bottom: 0.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-lcft-mZ8 .item-1-2V4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .list-DaE .frame-1134-wWE .auto-group-pgqx-UFG .auto-group-lcft-mZ8 .btn1-N38 {
  margin-bottom: 0.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .item--TaN {
  margin-left: 65.3rem;
  width: calc(100% - 65.3rem);
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .item--TaN .btn-nMk {
  margin-right: 0.8rem;
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #eec400;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #eec400;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--YUv .auto-group-dzia-7xa .auto-group-8guq-xxW .auto-group-nuxn-EHk .group-32-c4e .item--TaN .btn-qL2 {
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #f44336;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #f44336;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
