@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}
tr {
	margin-bottom: 5px;
    display: flex;
    align-items: center;
}
th {
	margin-right: 15rem;
	margin-bottom: 7px;
	width: 130px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.0416666667;
    letter-spacing: 0.132rem;
    color: #000000;
    font-family: Jua, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    text-align: center;
}
td {
	margin-right: 16rem;
    font-size: 1.6rem;
    width: 120px;
    font-weight: 400;
    line-height: 1.5625;
    letter-spacing: 0.088rem;
    color: #000000;
    font-family: Jua, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    text-align: center;
}
li {
	padding-left: 530px;;
}
.Title {
	width: 120px;
	overflow:hidden;
    text-overflow:ellipsis;
}
.Title:hover {
	color: blue;
	font-weight: bold;
}
#categ:hover {
	color:#F2F5A9;
}
.pageBtn {
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 50px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.item--nzi {
  box-sizing: border-box;
  padding-top: 3.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--nzi .auto-group-eusc-V8S {
  margin-bottom: 7.05rem;
  box-sizing: border-box;
  padding: 2.3rem 0rem 3.9rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e7effb;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 {
  margin: 0rem 3.7rem 3.4rem 3.7rem;
  width: calc(100% - 7.4rem);
  height: 25.7rem;
  display: flex;
  column-gap: 1.9rem;
  align-items: center;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-4xyt-hEW {
  box-sizing: border-box;
  padding: 2.7rem 31.5rem 2.7rem 2.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-4xyt-hEW .group-34-DCr {
  margin: 0.2rem 1.95rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 2rem 1.5rem 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 2.3333333333;
  color: rgba(23, 97, 160, 0.9399999976);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #1761a0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-4xyt-hEW .auto-group-qetj-pyL {
  width: 29.05rem;
  height: 17.1rem;
  position: relative;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-4xyt-hEW .auto-group-qetj-pyL .item--xpe {
  width: 28.9rem;
  height: 7rem;
  position: absolute;
  left: 0.15rem;
  top: 10.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.8;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-4xyt-hEW .auto-group-qetj-pyL .item--xpe .item--xpe-sub-0 {
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-4xyt-hEW .auto-group-qetj-pyL .item--xpe .item--xpe-sub-1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-4xyt-hEW .auto-group-qetj-pyL .item--xpe .item--xpe-sub-2 {
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-4xyt-hEW .auto-group-qetj-pyL .item--Qq4 {
  width: 8.8rem;
  height: 7rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.8;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-4xyt-hEW .auto-group-qetj-pyL .nnnn-nn-nn-uWv {
  width: 12rem;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.5;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-7thx-cRL {
  box-sizing: border-box;
  padding: 5.5rem 5rem 5.2rem 5rem;
  width: 53.5rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .auto-group-7thx-cRL .nnnn--jF4 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
}
.item--nzi .auto-group-eusc-V8S .frame-1144-zL6 .rectangle-104-RNn {
  width: 53.5rem;
  height: 25.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .auto-group-pmlw-mBk {
  width: 100%;
  height: 7rem;
  position: relative;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .auto-group-pmlw-mBk .rectangle-105-VdY {
  width: 192rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background-color: #fbf3ce;
}
.item--nzi .auto-group-eusc-V8S .auto-group-pmlw-mBk .frame-1143-Rn6 {
  width: 64.75rem;
  height: 7rem;
  position: absolute;
  left: 64.45rem;
  top: 0;
  display: flex;
  align-items: center;
}
.item--nzi .auto-group-eusc-V8S .auto-group-pmlw-mBk .frame-1143-Rn6 .item--Lu4 {
  margin-right: 6.15rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.8;
  color: #707070;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .auto-group-pmlw-mBk .frame-1143-Rn6 .group-33-21C {
  width: 18.9rem;
  height: 100%;
  position: relative;
  border-radius: 3rem;
  flex-shrink: 0;
}
.item--nzi .auto-group-eusc-V8S .auto-group-pmlw-mBk .frame-1143-Rn6 .group-33-21C .rectangle-106-At6 {
  width: 18.9rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  background-color: #ffd3d0;
  border-radius: 3rem;
}
.item--nzi .auto-group-eusc-V8S .auto-group-pmlw-mBk .frame-1143-Rn6 .group-33-21C .item--7HY {
  width: 10.4rem;
  height: 7rem;
  position: absolute;
  left: 2.8rem;
  top: 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.1818181818;
  color: #f44336;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--nzi .my-doran-AWi {
  margin-bottom: 1.65rem;
  text-align: right;
  display: flex;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 0.6944444444;
  letter-spacing: 0.198rem;
  color: #1761a0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS {
  margin-right: 8.2rem;
  width: calc(100% - 8.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE {
  margin-right: 10.3rem;
  width: 21.15rem;
  height: 40.7rem;
  position: relative;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .rectangle-84-wft {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #1761a0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .rectangle-88-4kW {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 32.7rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #4f95d1;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .rectangle-85-Bq8 {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 8.1rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #1761a0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .rectangle-86-X8J {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 16.3rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #1761a0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .rectangle-87-RzN {
  width: 20rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 24.5rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #1761a0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .frame-1147-ASA {
  width: 17.1rem;
  height: 35.3rem;
  position: absolute;
  left: 0;
  top: 2.7rem;
  row-gap: 5.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .frame-1147-ASA .item--sLa {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .frame-1147-ASA .item--aEz {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .frame-1147-ASA .item--szn {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .frame-1147-ASA .item--auC {
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .frame-1147-ASA .item--hD8 {
  margin-left: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .icon-media-play-Pbk {
  width: 1.2136rem;
  height: 34.4025rem;
  position: absolute;
  left: 17.8rem;
  top: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .icon-media-play-Pbk .icon-media-play-i8E {
  margin-bottom: 6.4975rem;
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .icon-media-play-Pbk .vector-Sa2 {
  margin-bottom: 6.5975rem;
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .icon-media-play-Pbk .icon-media-play-nNz {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .icon-media-play-Pbk .icon-media-play-nNz .vector-9DY {
  margin-bottom: 6.5975rem;
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .icon-media-play-Pbk .icon-media-play-nNz .icon-media-play-V2W {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .icon-media-play-Pbk .icon-media-play-nNz .icon-media-play-V2W .vector-qMG {
  margin-bottom: 6.6975rem;
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-ag6e-1nE .icon-media-play-Pbk .icon-media-play-nNz .icon-media-play-V2W .icon-media-play-mki {
  width: 1.2136rem;
  height: 1.6025rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL {
  margin-top: 0.45rem;
  width: 153.5rem;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .frame-1148-EeJ {
  margin: 0rem 76.9rem 2.15rem 6rem;
  width: calc(100% - 82.9rem);
  display: flex;
  align-items: center;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .frame-1148-EeJ .item--kce {
  margin-right: 5.2rem;
  text-align: right;
  display: flex;
  font-size: 4rem;
  font-weight: 900;
  line-height: 0.625;
  letter-spacing: 0.22rem;
  color: #1761a0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .frame-1148-EeJ .item--47Y {
  text-align: right;
  display: flex;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.1363636364;
  letter-spacing: 0.121rem;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 {
  box-sizing: border-box;
  padding: 8.2rem 13rem 5.3rem 2rem;
  width: 100%;
  height: 87rem;
  border-top: double 6px #1761a0;
  border-bottom: double 6px #1761a0;
  background-color: #ffffff;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .item-1-1--oUS {
  margin: 0rem 42rem 4.4rem 0rem;
  text-align: right;
  display: flex;
  font-size: 3rem;
  font-weight: 900;
  line-height: 0.8333333333;
  letter-spacing: 0.165rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL {
  margin-bottom: 0.2735rem;
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 22rem;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: solid 1px #F2F5A9;
  background-color: #f8f8f8;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN {
  box-sizing: border-box;
  padding: 1.9rem 6.95rem 0.9rem 5.05rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-trva-Ru8 {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-trva-Ru8 .item--kRc {
	margin-right: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.0416666667;
    letter-spacing: 0.132rem;
    color: #000000;
    font-family: Jua, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-trva-Ru8 .item--eG6 {
  margin-right: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-trva-Ru8 .item--wkz {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-383t-FWn {
  margin: 0rem 0rem 0rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-383t-FWn .item-1-yxa {
  margin: 0.1rem 25.3rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-383t-FWn .item--6GW {
  margin-right: 18.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-383t-FWn .item-0000-00-00-yr6 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-vdfy-hXC {
  margin: 0rem 30.05rem 0rem 28.05rem;
  width: calc(100% - 58.1rem);
  display: flex;
  column-gap: 1.45rem;
  align-items: center;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-vdfy-hXC .btn1-bsU {
  margin-bottom: 0.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-vdfy-hXC .item-1-wgS {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .list-ezr .frame-1134-yXL .auto-group-ywae-WGN .auto-group-vdfy-hXC .btn1-GTp {
  margin-bottom: 0.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .item--xLe {
  margin: 0rem 0rem 15.2rem 65.4rem;
  width: calc(100% - 65.4rem);
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .item--xLe .btn-ezA {
  margin-right: 0.8rem;
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #eec400;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #eec400;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .item--xLe .btn-uQJ {
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #f44336;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #f44336;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW {
  margin-right: 0.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .item--gZU {
  margin: 0rem 45rem 4.4rem 0rem;
  text-align: right;
  display: flex;
  font-size: 3rem;
  font-weight: 900;
  line-height: 0.8333333333;
  letter-spacing: 0.165rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U {
  margin-bottom: 0.2735rem;
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 100%;
  height: 22rem;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: solid 1px #F2F5A9;
  background-color: #f8f8f8;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe {
  box-sizing: border-box;
  padding: 1.9rem 6.95rem 0.9rem 5.05rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-puej-L1k {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-puej-L1k .item--FuQ {
  margin-right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-puej-L1k .item--MxS {
  margin-right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-puej-L1k .item--fy8 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.0416666667;
  letter-spacing: 0.132rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-fq5g-BwU {
  margin-top: 6px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-fq5g-BwU .item-1-Wyk {
  margin: 0.1rem 25.3rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-fq5g-BwU .item--RL2 {
  margin-right: 18.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-fq5g-BwU .item-0000-00-00-KRQ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.088rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-thkg-36W {
  margin: 0rem 30.05rem 0rem 28.05rem;
  width: calc(100% - 58.1rem);
  display: flex;
  column-gap: 1.45rem;
  align-items: center;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-thkg-36W .btn1-9fL {
  margin-bottom: 0.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-thkg-36W .item-1-HWe {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #000000;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .list-Z7U .frame-1134-H3U .auto-group-cpsz-cLe .auto-group-thkg-36W .btn1-pWa {
  margin-bottom: 0.1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .item--7ka {
  margin-left: 65.3rem;
  width: calc(100% - 65.3rem);
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .item--7ka .btn-dyp {
  margin-right: 0.8rem;
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #eec400;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #eec400;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item--nzi .auto-group-63un-HLS .auto-group-smwz-tqL .auto-group-ugjn-L54 .group-31-TQa .group-31-LkW .item--7ka .btn-6sQ {
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.11rem;
  color: #f44336;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #f44336;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
