<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-cs}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/csmain.css}" />
		<link rel="stylesheet" th:href="@{/css/faq.css}" />
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			class Details {
				constructor(el, settings) {
					this.group = el;
					this.details = this.group.getElementsByClassName("details");
					this.toggles = this.group.getElementsByClassName("details__summary");
					this.contents = this.group.getElementsByClassName("details__content");

					this.settings = Object.assign({
						speed: 300,
						one_visible: false
					}, settings);


					for (let i = 0; i < this.details.length; i++) {
						const detail = this.details[i];
						const toggle = this.toggles[i];
						const content = this.contents[i];


						detail.style.transitionDuration = this.settings.speed + "ms";

						if (!detail.hasAttribute("open")) {
							detail.style.height = toggle.clientHeight + "px";
						} else {
							detail.style.height = toggle.clientHeight + content.clientHeight + "px";
						}
					}

					this.group.addEventListener("click", (e) => {
						if (e.target.classList.contains("details__summary")) {
							e.preventDefault();

							let num = 0;
							for (let i = 0; i < this.toggles.length; i++) {
								if (this.toggles[i] === e.target) {
									num = i;
									break;
								}
							}

							if (!e.target.parentNode.hasAttribute("open")) {
								this.open(num);
							} else {
								this.close(num);
							}
						}
					});
				}

				open(i) {
					const detail = this.details[i];
					const toggle = this.toggles[i];
					const content = this.contents[i];

					if (this.settings.one_visible) {
						for (let a = 0; a < this.toggles.length; a++) {
							if (i !== a) this.close(a);
						}
					}


					detail.classList.remove("is-closing");

					const toggle_height = toggle.clientHeight;


					detail.setAttribute("open", true);
					const content_height = content.clientHeight;
					detail.removeAttribute("open");

					detail.style.height = toggle_height + content_height + "px";

					detail.setAttribute("open", true);
				}

				close(i) {
					const detail = this.details[i];
					const toggle = this.toggles[i];

					detail.classList.add("is-closing");

					const toggle_height = toggle.clientHeight;

					detail.style.height = toggle_height + "px";

					setTimeout(() => {
						if (detail.classList.contains("is-closing"))
							detail.removeAttribute("open");
						detail.classList.remove("is-closing");
					}, this.settings.speed);
				}
			}

			(() => {
				const els = document.getElementsByClassName("details-group");

				for (let i = 0; i < els.length; i++) {
					const details = new Details(els[i], {
						speed: 500,
						one_visible: true
					});
				}
			})();
		</script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<div class="item--68N">
			<div class="auto-group-e12j-mkJ">
				<img class="ellipse-3-VAW" src="/images/ellipse-3-fwC.png" />
				<img class="customer-survey-amico-1-dGi" src="/images/customer-survey-amico-1-3La.png" />
				<div class="item--kcE">고객센터</div>
			</div>
			<div class="auto-group-hv9g-23x">
				<div class="rectangle-23-xiJ">
					<div class="wrapper">
						<img class="vector-rpe" src="/images/vector-FsU.png" /><br>
						<b id="bTag1">자주 묻는 질문</b>
						<section class="details-group">
							<details class="details" open>
								<summary class="details__summary">
									혹시 도란도란을 처음 이용하시나요?
								</summary>
								<div class="details__content">
									<p>저희 도란도란은 함께해요, 공유해요, 도와줘요와 같은 여러 활동들을 통해
									이웃 주민<br>들과의 유대감을 형성하고 더 나아가 '도란도란' 이라는 이름에 걸맞게
									주민들과의 원<br>활한 소통을 목표로 삼고 있습니다.</p>
								</div>
							</details>

							<details class="details">
								<summary class="details__summary">사이트 이용방법을 모르겠어요.</summary>
								<div class="details__content">
									<p>페이지 상단 카테고리 메뉴의 <br><br><code>&lt;함께해요&gt;</code><code>&lt;공유해요&gt;</code><code>&lt;도와줘요&gt;</code>
									<code>&lt;놀아줘요&gt;</code><code>&lt;도란장터&gt;</code>
									<code>&lt;고객센터&gt;</code><br>중에서 이용을 원하시는 메뉴를 선택하여
									<br><br>해당 페이지의 양식에 맞춰 글 작성 및 채팅 기능을 이용하시면 모임 주최 및 참여, <br>다른 주민들과의 소통 등의 기능을 간편하게 이용하실 수 있습니다.</p>
								</div>
							</details>

							<details class="details">
								<summary class="details__summary">아이디와 비밀번호를 잊어버렸어요.</summary>
								<div class="details__content">
									<p>로그인 페이지의
									<code>&lt;아이디 찾기&gt;</code>와 <code>&lt;비밀번호 찾기&gt;</code>를 통해 찾으실 수 있습니다.</p>
								</div>
							</details>

							<details class="details">
								<summary class="details__summary">매너가 없는 유저를 만났어요.</summary>
								<div class="details__content">
									<p>비매너 유저의 신고는 고객센터 좌측 메뉴 신고게시판의 우측 하단 <code>&lt;신고하기&gt;</code>를 통<br>해 신고하실 수 있습니다.<br><br>
										※ 필독사항 ※<br>
										신고게시글 작성 후 해당 건의 처리까지 영업일 기준 최대 7일이 걸릴 수 있습니다.
										<br><br>
										<a href="/cscenter/repList">신고게시판 바로가기</a>
									</p>
								</div>
							</details>
							<details class="details">
								<summary class="details__summary">그 외 이용에 불편이 있으신가요?</summary>
								<div class="details__content">
									<p>그 외 자주 묻는 질문에 기재되지 않은 불편사항에 대해서는 1:1문의 게시판으로 문의<br>주시면 확인 후 신속하게 답변드리겠습니다.<br><br>
										<a href="/cscenter/questionList">문의게시판 바로가기</a>
									</p>
								</div>
							</details>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>