<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-cs}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/csmain.css}" />
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(document).ready(function () {
				$('#texta1').on('keyup', function () {
					$('#text_cnt').html($(this).val().length + " / 500");

					if ($(this).val().length > 500) {
						$(this).val($(this).val().substring(0, 500));
						$('#text_cnt').html("500 / 500");
					}
				});
				$('#insertInp').on('keyup', function () {
					if ($(this).val().length > 20) {
						$(this).val($(this).val().substring(0, 20));
					}
				});
				$("#btnInsert").on("click", function () {
					if ($("#insertInp").val().length == 0) {
						alert("제목을 입력해주세요.");
						$("#insertInp").focus();
						return false;
					}
					if ($("#texta1").val().length == 0) {
						alert("내용을 입력해주세요.");
						$("#texta1").focus();
						return false;
					}
				})
			});
		</script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<div class="item--68N">
			<div class="auto-group-e12j-mkJ">
				<img class="ellipse-3-VAW" src="/images/ellipse-3-fwC.png" />
				<img class="customer-survey-amico-1-dGi" src="/images/customer-survey-amico-1-3La.png" />
				<div class="item--kcE">고객센터</div>
			</div>
			<div class="auto-group-hv9g-23x">
				<div class="rectangle-23-xiJ">
					<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
						<div id="tpImg2">
							<div>
								<img th:src="@{/images/Logo2.png}" style="width : 80px; height : 80px;">
							</div>
							<div>
								<span id="listTtl2">신고하기</span>
							</div>
						</div>
						<form action="/cscenter/report" method="post">
							<input type="hidden" id="compYn" name="compYn" value="N">
							<table style="border-collapse: collapse; margin-top: 10px;" id="tb1">
								<tr>
									<td id="intQTag">
										작성자
									</td>
									<td style="text-align: left;" id="intQTag2">
										<!--<input type="text" name="userNm" th:value="${#authentication.principal.username}" readonly>-->
									</td>
								</tr>
								<tr>
									<td id="intQTag">
										제목
									</td>
									<td style="text-align: left;" id="intQTag2">
										<input type="text" name="repTitle" id="insertInp" style="outline:none;"
											placeholder="제목을 입력해주세요.(20자 이내)">
									</td>
								</tr>
								<tr>
									<td id="intQTag">
										내용
									</td>
									<td id="intQTag2">
										<textarea name="repContent" cols="40" rows="10"
											placeholder="내용을 입력해주세요.(500자 이내)"
											style="width:575px; height:385px; outline:none;" id="texta1"></textarea>
									</td>
								</tr>
								<tr>
									<td id="intQTag">
										글자수 제한
									</td>
									<td style="text-align: right;" id="intQTag2">
										<div id="text_cnt" style="background : white;">0 / 500</div>
									</td>
								</tr>
							</table>
							<div id="istTagA">
								<a href="/cscenter/repList" onclick="alert('작성 중인 글은 삭제됩니다.')">취소</a>
								<button type="submit" id="btnInsert">등록</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>