<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-cs}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/csmain.css}" />
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">

		</script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<div class="item--68N">
			<div class="auto-group-e12j-mkJ">
				<img class="ellipse-3-VAW" src="/images/ellipse-3-fwC.png" />
				<img class="customer-survey-amico-1-dGi" src="/images/customer-survey-amico-1-3La.png" />
				<div class="item--kcE">고객센터</div>
			</div>
			<div class="auto-group-hv9g-23x">
				<div class="rectangle-23-xiJ">
					<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
						<h3>게시글 상세</h3>
						<form action="" method="">
							<input type="hidden" name="noticeNo" id="noticeNo" th:value="${nDetail.noticeNo }">
							<table border="1" style="border-collapse: collapse;">
								<tr>
									<td style="background: white; width: 70px">
										제목
									</td>
									<td style="text-align: left">
										<input type="text" name="noticeTitle" id="noticeTitle"
											th:value="${nDetail.noticeTitle }" readonly>
									</td>
								</tr>
								<tr>
									<td style="background: white;">
										내용
									</td>
									<td style="text-align: left">
										<textarea name="noticeContent" id="noticeContent" cols="40"
											rows="10" readonly>[[${nDetail.noticeContent }]]</textarea>
									</td>
								</tr>
								<tr>
									<td style="background: white;">
										작성일
									</td>
									<td style="text-align: left">
										<fmt:formatDate th:value="${nDetail.inputDtm }" pattern="yyyy-MM-dd" />
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>