<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-cs}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/csmain.css}" />
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
		<script th:inline="javascript">
			$(function () {
				$("#updateBtn").on('click', function (e) {
					const answer = /*[[${answer}]]*/;
					if (answer != null) {
						alert("이미 답변이 달린 게시글은 수정이 불가합니다.");
						e.preventDefault();
					}
				});

				$("#deleteBtn").on('click', function (e) {
					e.preventDefault();

					$.ajax({
						url: '/cscenter/question',
						type: 'delete',
						data: {qNo: $("#qNo").val()},
						success: function () {
							alert("삭제되었습니다.");
							window.location.href = "/cscenter/questionList";
						},
						error: function (e) {
							alert("이미 답변이 달린 게시글은 삭제가 불가합니다.");
						}
					});
				});
			});


		</script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<div class="item--68N">
			<div class="auto-group-e12j-mkJ">
				<img class="ellipse-3-VAW" src="/images/ellipse-3-fwC.png" />
				<img class="customer-survey-amico-1-dGi" src="/images/customer-survey-amico-1-3La.png" />
				<div class="item--kcE">고객센터</div>
			</div>
			<div class="auto-group-hv9g-23x">
				<div class="rectangle-23-xiJ">
					<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
						<div id="tpImg2">
							<div>
								<img th:src="@{/images/Logo2.png}" style="width : 80px; height : 80px;">
							</div>
							<div>
								<span id="listTtl2">문의내용</span>
							</div>
						</div>
						<form id="detailForm">
							<input type="hidden" name="qNo" id="qNo" th:value="${qDetail.qNo}">
							<input type="hidden" name="inputDtm" id="inputDtm" th:value="${qDetail.inputDtm}">
							<table style="border-collapse: collapse; margin-top : 10px;table-layout:fixed">
								<tr>
									<td id="ntcTag1">
										제목
									</td>
									<td id="ntcTag2" colspan='3'>
										[[${qDetail.qTitle}]]
									</td>
								</tr>
								<tr>
									<td id="ntcTag1">
										작성자
									</td>
									<td id="ntcTag2">
										[[${qDetail.userNm}]]
									</td>
									<td id="ntcTag1">
										답변여부
									</td>
									<td style="text-align: left; width : 160px;" id="ntcTag2">
										[[${qDetail.aYn}]]
									</td>
								</tr>
								<tr>
									<td id="ntcTag1">
										문의일시
									</td>
									<td style="text-align: left" id="ntcTag2"
										th:text="${qDetail.inputDtm eq null ? '' : #strings.substring(qDetail.inputDtm, 0, 10)}"
										colspan='3'>
									</td>
								</tr>
								<tr>
									<td id="qTag1" colspan='4' style="white-space : pre-wrap; word-break:break-all;overflow:scroll;" ><div style="height: 100px;">[[${qDetail.qContent}]]</div></td>
								</tr>
							</table>
							<th:block th:if="${answer != null}">
								<table style="border-collapse: collapse;">
									<tr>
										<td id="qTag2" style="border-top : 3px solid #eeeeef;">
											답변자
										</td>
										<td style="text-align: left; border-top : 3px solid #eeeeef;" id="ntcTag2">
											도란도란
										</td>
									</tr>
									<tr>
										<td id="qTag2">
											답변일시
										</td>
										<td style="text-align: left;" id="ntcTag2"
											th:text="${answer.inputDtm eq null ? '' : #strings.substring(answer.inputDtm, 0, 10)}"
											colspan='3'>
										</td>
									</tr>
									<tr class="txtHeight">
										<td id="qTag3" colspan='2' style="white-space : pre-wrap; word-break:break-all;overflow:scroll;"><div style="height: 100px;">[[${answer.aContent}]]</div></td>
									</tr>
								</table>
							</th:block>

							<th:block th:if="${answer  == null}">
								<table style="border-collapse: collapse;">
									<tr>
										<td id="qTag2">
											답변자
										</td>
										<td style="text-align: left; border-top : 3px solid #eeeeef;" id="ntcTag2">

										</td>
									</tr>
									<tr>
										<td id="qTag2">
											답변일시
										</td>
										<td style="text-align: left; border-top : 3px solid #eeeeef;" id="ntcTag2">

										</td>
									</tr>
									<tr>
										<td id="qTag3" colspan='2'>
											아직 등록된 답변이 없습니다.
										</td>
									</tr>
								</table>
							</th:block>
						</form>
						<hr />
						<div id="qDetDiv">
							<div>
								<a name="qNo" id="updateBtn"
									th:href="@{/cscenter/questionUdt/{qNo} (qNo=${qDetail.qNo})}">수정</a>
							</div>
							<div>
								<a href="#" id="deleteBtn">삭제</a>
							</div>
							<div>
								<a href="/cscenter/questionList" style="background-color: #1761A0!important;">목록</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>