<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-cs}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/csmain.css}" />
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
		<script th:inline="javascript">
			$(function () {
				$(".pagination a").on("click", function (e) {
					e.preventDefault();

					$("input[name='pageNum']").val($(this).attr("href"));
					$("#searchForm").submit();
				});

				$("#btnSearch").on("click", function () {
					$("input[name='pageNum']").val(1);

					$("#searchForm").submit();
				});
			});
		</script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<div class="item--68N">
			<div class="auto-group-e12j-mkJ">
				<img class="ellipse-3-VAW" src="/images/ellipse-3-fwC.png" />
				<img class="customer-survey-amico-1-dGi" src="/images/customer-survey-amico-1-3La.png" />
				<div class="item--kcE">고객센터</div>
			</div>
			<div class="auto-group-hv9g-23x">
				<div class="rectangle-23-xiJ">
					<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
						id="table1">
						<form id="searchForm" action="/cscenter/repList" method="get">
							<input type="hidden" name="pageNum" th:value="${pageDTO.cri.pageNum }">
							<input type="hidden" name="amount" th:value="${pageDTO.cri.amount }">
							<table style="width: 800px; border-collapse: collapse; margin-top: 70px;">
								<tr>
									<td align="right">
										<select name="searchCondition">
											<option value="ALL" th:selected="${searchCondition == 'ALL'}">전체</option>
											<option value="TITLE" th:selected="${searchCondition == 'TITLE'}">제목
											</option>
											<option value="CONTENT" th:selected="${searchCondition == 'CONTENT'}">내용
											</option>
											<option value="WRITER" th:selected="${searchCondition == 'WRITER'}">작성자
											</option>
										</select>
										<input type="text" name="searchKeyword" th:value="${searchKeyword}">
										<button type="button" id="btnSearch">검색</button>
									</td>
								</tr>
							</table>
						</form>

						<table id="boardTable" style="width: 800px; border-collapse: collapse; margin-top: 10px;">
							<tr>
								<th style="background-Color : #CFE1FC; width: 10%;">번호</th>
								<th style="background-Color : #CFE1FC; width: 50%;">제목</th>
								<th style="background-Color : #CFE1FC; width: 20%;">작성자</th>
								<th style="background-Color : #CFE1FC; width: 20%;">등록일</th>
							</tr>
							<tr th:each="report : ${repList}">
								<td th:text=${report.repNo}></td>
								<td>
									<a th:text="${report.repTitle}"
										th:href="@{/cscenter/report/{repNo} (repNo=${report.repNo})}">
									</a>
								</td>
								<td th:text="${report.userNo}"></td>
								<td
									th:text="${report.inputDtm eq null ? '' : #strings.substring(report.inputDtm, 0, 10)}">
								</td>
							</tr>
						</table>
						<br />
						<div style="text-align:center;">
							<ul class="pagination">
								<li th:if="${pageDTO.prev }" class="pagination_button">
									<a th:href="${pageDTO.cri.pageNum - 1 }">이전</a>
								</li>


								<li th:each="num : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)} "
									class="pagination_button">
									<a th:href="${num }" th:text="${num}"></a>
								</li>

								<li th:if="${pageDTO.next }" class="pagination_button">
									<a th:href="${pageDTO.cri.pageNum + 1 }">다음</a>
								</li>
							</ul>
						</div>
						<br />
						<a th:href="@{/cscenter/insertReport}">새 글 등록</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>