<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-cs}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/csmain.css}" />
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
		<script th:inline="javascript">
			$(function () {
				const loginUser = /*[[${loginUser}]]*/;
				$("#insertBtn").on("click", function () {
					if (loginUser == null) {
						alert("로그인이 필요한 기능입니다. 로그인 페이지로 이동합니다.");
						window.location.href = "/cscenter/loginPage";
					} else {
						window.location.href = "/cscenter/insertReport";
					}
				})
				$(document).on("click", "a[name='repTitDet']", function (e) {
					e.preventDefault();
					if (loginUser == null) {
						alert("게시글을 보려면 로그인을 해주세요.");
						e.preventDefault;
					} else if (loginUser != null) {
						const loginUserNm = loginUser.userNm;
						const userNm = $(this).attr("data-report-writer");
						console.log(loginUserNm);
						console.log(userNm);
						if (loginUserNm != userNm) {
							alert("다른 회원의 글은 열람이 불가합니다.");
							e.preventDefault;
						} else {
							window.location.href = "/cscenter/report/" + $(this).attr("data-report-repno");
						}
					}
				})
				$(document).on("click", ".pagination a", function (e) {
					e.preventDefault();

					$("input[name='pageNum']").val($(this).attr("href"));
					$.ajax({
						url: '/cscenter/pageRepList',
						type: 'get',
						data: $("#searchForm").serialize(),
						success: function (obj) {
							console.log(obj);
							let htmlStr = "";
							let htmlStr2 = "";
							for (let i = 0; i < obj.item.repList.length; i++) {
								htmlStr += `
									<tr id="eachList">
										<td>${obj.item.repList[i].repNo}</td>
										<td>
											<a name="repTitDet" id="'repTitDet' + ${obj.item.repList[i].repNo}" href="#" 
											   data-report-writer="${obj.item.repList[i].userNm}" data-report-repno="${obj.item.repList[i].repNo}">
											   ${obj.item.repList[i].repTitle}
											</a>
											<img src="/images/lock.png" width="18px" height="18px;">
										</td>
										<td>${obj.item.repList[i].userNm}</td>
										<td>
											${obj.item.repList[i].inputDtm == null ? '' : obj.item.repList[i].inputDtm.substring(0, 10)}
										</td>
									</tr>
									
								`;
							}
							$("#boardTable").children(":first").children().not(':first').remove();
							$("#boardTable").children(":first").append(htmlStr);

							htmlStr = "";


							if (obj.item.pageDTO.prev) {
								htmlStr += `
									<li class="pagination_button" id="prevBtn">
										<a href="${obj.item.pageDTO.cri.pageNum - 1}"><img src="/images/leftArrow.png"></a>
									</li>
								`;
							}

							for (let i = obj.item.pageDTO.startPage; i <= obj.item.pageDTO.endPage; i++) {
								htmlStr += `
									<li class="pagination_num">
										<a href="${i}">${i}</a>
									</li>
								`;
							}

							if (obj.item.pageDTO.next) {
								htmlStr += `
									<li class="pagination_button" id="nextBtn">
										<a href="${obj.item.pageDTO.cri.pageNum + 1}">
										<img src="/images/rightArrow.png"></a>
									</li>
								`;
							}

							$(".pagination").html(htmlStr);

						},
						error: function (e) {
							console.log(e);
						}
					});
				});

				$("#btnSearch").on("click", function () {
					$("input[name='pageNum']").val(1);

					$("#searchForm").submit();
				});
			});
		</script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<div class="item--68N">
			<div class="auto-group-e12j-mkJ">
				<img class="ellipse-3-VAW" src="/images/ellipse-3-fwC.png" />
				<img class="customer-survey-amico-1-dGi" src="/images/customer-survey-amico-1-3La.png" />
				<div class="item--kcE">고객센터</div>
			</div>
			<div class="auto-group-hv9g-23x">
				<div class="rectangle-23-xiJ">
					<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
						id="table1">
						<div id="tpImg">
							<div>
								<img th:src="@{/images/-ib8.png}" style="width : 80px; height : 80px;">
							</div>
							<div>
								<span id="listTtl">신고게시판</span>
							</div>
						</div>
						<form id="searchForm" action="/cscenter/repList" method="get">
							<input type="hidden" name="pageNum" th:value="${pageDTO.cri.pageNum }">
							<input type="hidden" name="amount" th:value="${pageDTO.cri.amount }">
							<table style="width: 950px; border-collapse: collapse;">
								<tr>
									<td align="right" style="display:none;">
										<select name="searchCondition">
											<option value="ALL" th:selected="${searchCondition == 'ALL'}">전체</option>
											<option value="TITLE" th:selected="${searchCondition == 'TITLE'}">제목
											</option>
											<option value="CONTENT" th:selected="${searchCondition == 'CONTENT'}">내용
											</option>
											<option value="WRITER" th:selected="${searchCondition == 'WRITER'}">작성자
											</option>
										</select>
										<input type="text" name="searchKeyword" th:value="${searchKeyword}">
										<button type="button" id="btnSearch">검색</button>
									</td>
								</tr>
							</table>
						</form>

						<table id="boardTable" style="width: 950px; border-collapse: collapse; margin-top: 10px; ">
							<tr id="tbHead">
								<th
									style="background-Color : #1761A0; width: 10%; height:50px; border-top-left-radius:10px;">
									번호</th>
								<th style="background-Color : #1761A0; width: 50%;">제목</th>
								<th style="background-Color : #1761A0; width: 20%;">작성자</th>
								<th style="background-Color : #1761A0; width: 20%; border-top-right-radius:10px;">등록일
								</th>
							</tr>
							<tr th:each="report : ${repList}" id="eachList">
								<td th:text=${report.repNo}></td>
								<td>
									<a th:text="${report.repTitle}" name="repTitDet" th:id="'repTitDet' + ${report.repNo}" href="#" 
									   th:data-report-writer="${report.userNm}" th:data-report-repno="${report.repNo}">
									</a>
									<img th:src="@{/images/lock.png}" width="18px" height="18px;">
								</td>
								<td th:text="${report.userNm}"></td>
								<td
									th:text="${report.inputDtm eq null ? '' : #strings.substring(report.inputDtm, 0, 10)}">
								</td>
							</tr>
						</table>
						<table style="width: 950px; border-collapse: collapse;table-layout:fixed;">
							<tr>
								<th
									style="background-Color : #1761A0; width: 10%; height:10px; border-bottom-left-radius:10px;">
								</th>
								<th style="background-Color : #1761A0; width: 50%;"></th>
								<th style="background-Color : #1761A0; width: 20%;"></th>
								<th style="background-Color : #1761A0; width: 20%; border-bottom-right-radius:10px;">
								</th>
							</tr>
						</table>
						<div id="writeTag">
							<a href="#" id="insertBtn">신고하기</a>
						</div>
						<br />
						<div>
							<ul class="pagination">
								<li th:if="${pageDTO.prev }" class="pagination_button" id="prevBtn">
									<a th:href="${pageDTO.cri.pageNum - 1 }"><img th:src="@{/images/leftArrow.png}"></a>
								</li>


								<li th:each="num : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)} "
									class="pagination_num">
									<a th:href="${num }" th:text="${num}"></a>
								</li>

								<li th:if="${pageDTO.next }" class="pagination_button" id="nextBtn">
									<a th:href="${pageDTO.cri.pageNum + 1 }"><img
											th:src="@{/images/rightArrow.png}"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>