<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(document).ready(function () {

				var roomNm = /*[[${room.roomNm}]]*/;
				var roomNo = /*[[${room.roomNo}]]*/;
				var username = /*[[${session.loginUser.userNo}]]*/;

				console.log(roomNm + ", " + roomNo + ", " + username);

				var sockJs = new SockJS("/stomp/chat");
				//1. SockJS를 내부에 들고있는 stomp를 내어줌
				var stomp = Stomp.over(sockJs);

				//2. connection이 맺어지면 실행
				stomp.connect({}, function () {
					console.log("STOMP Connection")

					//4. subscribe(path, callback)으로 메세지를 받을 수 있음
					stomp.subscribe("/sub/chat/room/" + roomNo, function (chat) {
						var content = JSON.parse(chat.body);

						var writer = content.sendUserNo;
						var message = content.message;
						var str = '';
						console.log(content);
						if (writer === username) {
							str = "<div class='col-6'>";
							str += "<div class='alert alert-secondary'>";
							str += "<b>" + writer + " : " + message + "</b>";
							str += "</div></div>";
							$("#msgArea").append(str);
						}
						else {
							str = "<div class='col-6'>";
							str += "<div class='alert alert-warning'>";
							str += "<b>" + writer + " : " + message + "</b>";
							str += "</div></div>";
							$("#msgArea").append(str);
						}

						//$("#msgArea").append(str);
					});

					//3. send(path, header, message)로 메세지를 보낼 수 있음
					stomp.send('/pub/chat/enter', {}, JSON.stringify({roomNo: roomNo, sendUserNo: username}))
				});

				$("#button-send").on("click", function (e) {
					var msg = document.getElementById("msg");

					console.log(username + ":" + msg.value);
					stomp.send('/pub/chat/message', {}, JSON.stringify({roomNo: roomNo, message: msg.value, sendUserNo: username}));
					msg.value = '';
				});
			});
		</script>
	</th:block>

</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="col-6">
				<div th:if="${room.slaveNo eq session.loginUser.userNo}">
					<h1>[[${room.masterNm}]] 님과의 채팅방</h1>
				</div>
				<div th:if="${room.masterNo eq session.loginUser.userNo}">
					<h1>[[${room.slaveNm}]] 님과의 채팅방</h1>
				</div>
			</div>
			<div>
				<div id="msgArea" class="col">
					<div th:each="chat : ${chat}">
						<div th:if="${chat.sendUserNo == session.loginUser.userNo}">
							<div class='col-6'>
								<div class='alert alert-secondary'>
									<b>[[${chat.sendUserNo}]] : [[${chat.message}]]</b>
								</div>
							</div>
						</div>
						<div th:if="${chat.sendUserNo != session.loginUser.userNo}">
							<div class='col-6'>
								<div class='alert alert-warning'>
									<b>[[${chat.sendUserNo}]] : [[${chat.message}]]</b>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-6">
					<div class="input-group mb-3">
						<input type="text" id="msg" class="form-control">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6"></div>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<!-- 합쳐지고 최소화된 최신 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- 부가적인 테마 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

		<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</div>
</body>

</html>