<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(document).ready(function () {


			});
		</script>
	</th:block>

</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<link rel="stylesheet" th:href="@{/css/chat.css}" />
		<div class="container">
			<span class="title">[[${session.loginUser.userNick}]]님의 채팅방 목록</span>
			<div class="chatRoomList">
				<ul th:each="room : ${list}">
					<div th:if="${session.loginUser.userNo eq room.masterNo}">
						<li><a th:href="@{/chat/room(roomNo=${room.roomNo}, userNo=${session.loginUser.userNo})}">[[${room.slaveNm}]]님과의 채팅방</a></li>
					</div>
					<div th:if="${session.loginUser.userNo eq room.slaveNo}">
						<li><a th:href="@{/chat/room(roomNo=${room.roomNo}, userNo=${session.loginUser.userNo})}">[[${room.masterNm}]]님과의 채팅방</a></li>
					</div>
				</ul>
			</div>

			<!--<form class="chatRoominsert" th:action="@{/chat/room}" method="post">
				<input type="text" name="name" class="insertInput">
				<button class="insertBtn">개설하기</button>
			</form> -->
		</div>
	</div>
</body>

</html>