<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>장터목록</title>
  
  <th:block layout:fragment="script">
		<script th:inline="javascript">
		
		$(function(){
			let userNo = /*[[${session.loginUser.userNo}]]*/;
			console.log(userNo);
			
			let date = /*[[${session.loginUser.inputDtm}]]*/;
			
			let today = new Date();
			
			
			let diff = today - date;
			let diffDay = Math.floor(today / (1000*60*60*24));
			
			console.log(date);
			console.log(today);
			
		});
		
		</script>
	</th:block>
  
  
</head>
<!-- head 끝 -->

<body>
<div layout:fragment="content">

<link rel="stylesheet" th:href="@{/css/marketListPage.css}"/>

<div class="item--L6J">
  <div class="auto-group-hrkg-2jp">
    <div class="frame-1144-M1Q">
      <div class="auto-group-b642-4Ai">
        <div class="group-34-x1C">회원</div>
        <div class="auto-group-icmx-kBx">
          <p class="item--grJ">
            <span class="item--grJ-sub-0">활동 지역은 </span>
            <span class="item--grJ-sub-1">‘<a th:text="${session.loginUser.userLoc}"></a>’</span>
            <span class="item--grJ-sub-2"> 입니다.</span>
          </p>
          <p class="item--v8N"><a th:text="${session.loginUser.userNm}"></a> 님</p>
          <p class="nnnn-nn-nn-QZL"><a th:text="${session.loginUser.inputDtm}"></a></p>
        </div>
      </div>
      <div class="auto-group-9fml-uW6">
        <p class="nnnn--qPk">
        도란도란은 오늘
        <br>
        <span th:text="${#dates.format(#dates.createNow(), 'yyyy년MM월dd일')}" style="color: #585858; font-size:40px;"></span>
        <br>
        입니다!
        </p>
      </div>
      <div class="rectangle-104-iiS" style="background-image: url(/images/dev.png); background-repeat: no-repeat">
      </div>
    </div>
    
    <!-- 공지로 넘어가기 -->
    <div class="auto-group-s6wc-GEA">
      <div class="rectangle-105-zR4">
      </div>
      <div class="frame-1143-irr">
        <p class="item--TZY">도란도란을 누구보다 잘 이용하고 싶다면? </p>
        <div class="group-33-Kre">
          <div class="rectangle-106-gBQ">
          </div>
          <a class="item--cKx" href="/cscenter/noticeList" style="cursor: pointer;">공지 확인하기</a>
        </div>
      </div>
    </div>
    <!-- 공지로 넘어가기 -->
    
  </div>
  
  <div class="my-doran-HBC">MY DORAN</div>
  <div class="auto-group-ge7u-CJA">
    <div class="auto-group-qeft-YN2">
      <div class="sideB">
      </div>

      <div class="frame-1147-6gN">
        <div id="categ" class="item--Qwx" th:onclick="|location.href='@{/userPage/updateUserPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">개인 정보 확인</div>
        <div id="categ" class="item--ihk" th:onclick="|location.href='@{/userPage/playListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">모임 목록</div>
        <div id="categ" class="item--dJv" th:onclick="|location.href='@{/userPage/marketListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">장터 목록</div>
        <div id="categ" class="item--LDL" th:onclick="|location.href='@{/userPage/writingListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">작성한 글 목록</div>
        <div id="categ" class="item--F5Q" th:onclick="|location.href='@{/userPage/questionListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">고객센터 글 목록</div>
      </div>


    </div>

    <!-- 상세창 내부 -->
    <div class="auto-group-xkcs-zUE">
      <div class="frame-1148-LHC">
        <div class="item--Ff4">장터목록</div>
        <div class="item--Mxz">내 장터 목록을 조회합니다.</div>
      </div>

      <div class="auto-group-v2ve-F2n">
        <div class="item--mG2">‘<a th:text="${session.loginUser.userNm}"></a>’님의 장터 목록</div>
        <div class="list-WWS">
          <div class="frame-1134-rqC">
            <div>
            <table id="myMarketTable" class="auto-group-8phl-yQ2">
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>날짜</th>
                <th>상태</th>
              </tr>
              <tr th:each="myMarket : ${myMarket}">
              	<td th:text="${myMarket.marketNo}"></td>
                <td th:text="${myMarket.prodNm}" th:onclick="|location.href='@{/market/selectMarket?marketNo={marketNo} (marketNo = ${myMarket.marketNo})}'|" style="cursor:pointer;" class="Title"></td>
                <td th:text="${myMarket.inputDtm}"></td>
                <td th:text="${myMarket.status}">
              </tr>
             </table>
            </div>
          </div>
          
          <!-- 페이지 버튼 -->
          
               <li class="auto-group-bhvj-dmQ">
                <a th:href="@{/userPage/marketListPage?page={page}&userNo={userNo} (page = ${pagination.page}-1, userNo = ${session.loginUser.userNo})}">
                <img class="pageBtn" th:src="@{/images/btn1-5LA.png}"/></a>
                
                <a th:href="@{/userPage/marketListPage?page={page}&userNo={userNo} (page = ${pagination.page}+1, userNo = ${session.loginUser.userNo})}">
                <img class="pageBtn" th:src="@{/images/btn1-mHp.png}"/></a>
              </li>
              
          <!-- 페이지 버튼 -->
          
        </div>
      </div>
    </div>
    <!-- 상세창 내부 -->

  </div>
</div>

</div>
</body>