<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>장터목록</title>
  
  <th:block layout:fragment="script">
		<script th:inline="javascript">
		
		$(function(){
			let userNo = /*[[${session.loginUser.userNo}]]*/;
			console.log(userNo);
		});
		
		</script>
	</th:block>
  
  
</head>
<!-- head 끝 -->

<body>
<div layout:fragment="content">

<link rel="stylesheet" th:href="@{/css/marketListPage.css}"/>

<div class="item--L6J">
  <div class="auto-group-hrkg-2jp">
    <div class="frame-1144-M1Q">
      <div class="auto-group-b642-4Ai">
        <div class="group-34-x1C">회원</div>
        <div class="auto-group-icmx-kBx">
          <p class="item--grJ">
            <span class="item--grJ-sub-0">활동 지역은 </span>
            <span class="item--grJ-sub-1">‘<a th:text="${session.loginUser.userLoc}"></a>’</span>
            <span class="item--grJ-sub-2"> 입니다.</span>
          </p>
          <p class="item--v8N"><a th:text="${session.loginUser.userNm}"></a> 님</p>
          <p class="nnnn-nn-nn-QZL"><a th:text="${session.loginUser.inputDtm}"></a></p>
        </div>
      </div>
      <div class="auto-group-9fml-uW6">
        <p class="nnnn--qPk">
        오늘은 도란도란과 함께한 지
        <br>
        + nnnn 일 
        <br>
        되는 날입니다!
        </p>
      </div>
      <div class="rectangle-104-iiS">
      </div>
    </div>
    
    <!-- 공지로 넘어가기 -->
    <div class="auto-group-s6wc-GEA">
      <div class="rectangle-105-zR4">
      </div>
      <div class="frame-1143-irr">
        <p class="item--TZY">도란도란을 누구보다 잘 이용하고 싶다면? </p>
        <div class="group-33-Kre">
          <div class="rectangle-106-gBQ">
          </div>
          <a class="item--cKx" href="/admin/getAdNoticeList" style="cursor: pointer;">공지 확인하기</a>
        </div>
      </div>
    </div>
    <!-- 공지로 넘어가기 -->
    
  </div>
  
  <div class="my-doran-HBC">MY DORAN</div>
  <div class="auto-group-ge7u-CJA">
    <div class="auto-group-qeft-YN2">
      <div class="rectangle-84-fhY">
      </div>
      <div class="rectangle-88-PtS">
      </div>
      <div class="rectangle-85-85L">
      </div>
      <div class="rectangle-86-Fve">
      </div>
      <div class="rectangle-87-ZwL">
      </div>

      <div class="frame-1147-6gN">
        <div class="item--Qwx" onclick="location.href='/userPage/updateUserPage'" style="cursor:pointer;">개인 정보 확인</div>
        <div class="item--ihk" th:onclick="|location.href='@{/userPage/playListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">모임 목록</div>
        <div class="item--dJv" th:onclick="|location.href='@{/userPage/marketListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">장터 목록</div>
        <div class="item--LDL" th:onclick="|location.href='@{/userPage/writingListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">작성한 글 목록</div>
        <div class="item--F5Q" th:onclick="|location.href='@{/userPage/questionListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">고객센터 글 목록</div>
      </div>

      <div class="icon-media-play-5aE">
        <img class="icon-media-play-C94" th:src="@{/images/mediaPlayIcon.png}"/>
        <img class="vector-7mp" th:src="@{/images/mediaPlayIcon.png}"/>
        <div class="icon-media-play-4SA">
          <img class="vector-DZx" th:src="@{/images/mediaPlayIcon.png}"/>
          <div class="icon-media-play-kZt">
            <img class="vector-uhg" th:src="@{/images/mediaPlayIcon.png}"/>
            <img class="icon-media-play-TUJ" th:src="@{/images/mediaPlayIcon.png}"/>
          </div>
        </div>
      </div>

    </div>

    <!-- 상세창 내부 -->
    <div class="auto-group-xkcs-zUE">
      <div class="frame-1148-LHC">
        <div class="item--Ff4">장터목록</div>
        <div class="item--Mxz">내 장터 목록을 조회합니다.</div>
      </div>

      <div class="auto-group-v2ve-F2n">
        <div class="item--mG2">‘<a th:text="${session.loginUser.userNm}"></a>’님의 장터 목록</div>
        <div class="item--RbU">
          <div class="rectangle-100-LyL">
          </div>
          <div class="btn-U3x">검색</div>
        </div>
        <div class="list-WWS">
          <div class="frame-1134-rqC">
            <div class="auto-group-8phl-yQ2">
            <table id="myMarketTable">
              <tr class="auto-group-f23u-h58">
                <td class="item--qSE">번호</td>
                <td class="item--k3Q">제목</td>
                <td class="item--TTc">날짜</td>
              </tr>
              <tr th:each="myMarket : ${myMarket}" class="auto-group-f23u-h58">
              	<td th:text="${myMarket.marketNo}" class="item--qSE"></td>
                <td th:text="${myMarket.prodNm}" class="item--k3Q"></td>
                <td th:text="${myMarket.inputDtm}" class="item--TTc"></td>
              </tr>
             </table>
              <div class="auto-group-bhvj-dmQ">
                <img class="btn1-kb8" th:src="@{/images/btn1-5LA.png}"/>
                <div class="item-1-uD8">1</div>
                <img class="btn1-2Ye" th:src="@{/images/btn1-mHp.png}"/>
              </div>
            </div>
          </div>
        </div>
		
        <div class="item--Wii">
          <div class="btn-S6a">취소</div>
          <div class="btn-Hcz">삭제</div>
        </div>

      </div>
    </div>
    <!-- 상세창 내부 -->

  </div>
</div>

</div>
</body>