<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>모임목록</title>
</head>
<!-- head 끝 -->

<body>
<div layout:fragment="content">

<link rel="stylesheet" th:href="@{/css/playListPage.css}"/>

<div class="item--YUv">

  <div class="auto-group-slf4-4TG">
    <div class="frame-1144-Zup">
      <div class="auto-group-ddcn-gDk">
        <div class="group-34-QQe">회원</div>
        <div class="auto-group-58us-doC">
          <p class="item--muQ">
            <span class="item--muQ-sub-0">활동 지역은 </span>
            <span class="item--muQ-sub-1">‘<a th:text="${session.loginUser.userLoc}"></a>’</span>
            <span class="item--muQ-sub-2"> 입니다.</span>
          </p>
          <p class="item--1xA"><a th:text="${session.loginUser.userNm}"></a> 님</p>
          <input type="hidden" id="userNo" th:value="${session.loginUser.userNo}">
          <p class="nnnn-nn-nn-iLn"><a th:text="${session.loginUser.inputDtm}"></a></p>
        </div>
      </div>
      <div class="auto-group-ezwe-QUW">
        <p class="nnnn--vxe">
        오늘은 도란도란과 함께한 지
        <br>
        + nnnn 일 
        <br>
        되는 날입니다!
        </p>
      </div>
    </div>
    
    <!-- 공지로 넘어가기 -->
    <div class="auto-group-hpae-Zki">
      <div class="rectangle-105-7XL">
      </div>
      <div class="frame-1143-eXG">
        <p class="item--avi">도란도란을 누구보다 잘 이용하고 싶다면? </p>
        <div class="group-33-Tjc">
          <div class="rectangle-106-1WE">
          </div>
          <a class="item--YWA" href="/admin/getAdNoticeList" style="cursor: pointer;">공지 확인하기</a>
        </div>
      </div>
    </div>
    <!-- 공지로 넘어가기 -->
    
  </div>
  
  <div class="my-doran-QoG">MY DORAN</div>
  <div class="auto-group-dzia-7xa">
    <div class="auto-group-qadg-fDQ">
      <div class="rectangle-84-n38">
      </div>
      <div class="rectangle-88-udY">
      </div>
      <div class="rectangle-85-S7g">
      </div>
      <div class="rectangle-86-xbp">
      </div>
      <div class="rectangle-87-gXp">
      </div>

      <div class="frame-1147-D1x">
        <div class="item--X2e" onclick="location.href='/userPage/updateUserPage'" style="cursor:pointer;">개인 정보 확인      </div>
        <div class="item--pnS" onclick="location.href='/userPage/playListPage'" style="cursor:pointer;">모임 목록</div>
        <div class="item--vqU" onclick="location.href='/userPage/marketListPage'" style="cursor:pointer;">장터 목록</div>
        <div class="item--ErA" onclick="location.href='/userPage/writingListPage'" style="cursor:pointer;">작성한 글 목록</div>
        <div class="item--x1U" onclick="location.href='/userPage/questionListPage'" style="cursor:pointer;">고객센터 글 목록</div>
      </div>

      <div class="icon-media-play-3Yi">
        <img class="icon-media-play-ANS" th:src="@{/images/mediaPlayIcon.png}"/>
        <img class="vector-6Wz" th:src="@{/images/mediaPlayIcon.png}"/>
        <div class="icon-media-play-dmp">
          <img class="vector-C4E" th:src="@{/images/mediaPlayIcon.png}"/>
          <div class="icon-media-play-jpr">
            <img class="vector-6QW" th:src="@{/images/mediaPlayIcon.png}"/>
            <img class="icon-media-play-2ox" th:src="@{/images/mediaPlayIcon.png}"/>
          </div>
        </div>
      </div>
    </div>

    <!-- 상세창 내부 -->
    <div class="auto-group-8guq-xxW">
      <div class="auto-group-dnmx-KHG">
        <div class="item--Ev2">모임 목록</div>
        <div class="item--ZBc">내 모임 목록을 확인할 수 있습니다.</div>
      </div>
      <div class="auto-group-nuxn-EHk">
        <div class="group-31-ABQ">
          <div class="item--hSE">‘<a th:text="${session.loginUser.userNm}"></a>’님의 모임 목록</div>
			
          <div class="list-kfQ">
            <div class="frame-1134-gox">
              <div class="auto-group-fur8-D3C">
              <table id="myPlayTable">
                <tr class="auto-group-cedg-viJ">
                  <td class="item--fA6">번호</td>
                  <td class="item--NKQ">제목</td>
                  <td class="item--HSN">작성일자</td>
                  <td class="item--CZL">상태</td>
                </tr>
                <tr class="auto-group-qihy-7gJ" th:each="play : ${selectMyPlayList}">
                  <td class="item-1-qMQ" th:text="${play.playNo}"></td>
                  <td class="item--jxa" th:text="${play.playTitle}"></td>
                  <td class="item-0000-00-00-do4" th:text="${play.inputDtm eq null ? '' : #strings.substring(play.inputDtm, 0, 10)}"></td>
                  <td class="item--kcn"></td>
                </tr>
              </table>
                <div class="auto-group-ozvx-gFY">
                  <img class="btn1-o5G" th:src="@{/images/btn1-5LA.png}"/>
                  <div class="item-1-Lqt">1</div>
                  <img class="btn1-USJ" th:src="@{/images/btn1-mHp.png}"/>
                </div>
              </div>
            </div>
          </div>

          <div class="item--Apv">
            <div class="btn-6ia">취소</div>
            <div class="btn-ko8">삭제</div>
          </div>

        </div>

        <div class="group-32-c4e">
          <div class="item--Mnv">‘<a th:text="${session.loginUser.userNm}"></a>’님의 모임 신청 목록</div>
          <div class="list-DaE">
            <div class="frame-1134-wWE">
              <div class="auto-group-pgqx-UFG">
                <table id="joinPlayTable">
                <tr class="auto-group-urfp-bKt">
                  <td class="item--XDY">번호</td>
                  <td class="item--SLW">제목</td>
                  <td class="item--YuL">날짜</td>
                  <td class="item--U2J">상태</td>
                </tr>
                <tr class="auto-group-r78e-BhQ">
                  <td class="item-1-Wza">1</td>
                  <td class="item--Rre">오버워치 하실 분</td>
                  <td class="item-0000-00-00-8WA">0000/00/00</td>
                  <td class="item--FKt">진행 중</td>
                </tr>
                </table>
                <div class="auto-group-lcft-mZ8">
                  <img class="btn1-HGa" th:src="@{/images/btn1-5LA.png}"/>
                  <div class="item-1-2V4">1</div>
                  <img class="btn1-N38" th:src="@{/images/btn1-mHp.png}"/>
                </div>
              </div>
            </div>
          </div>

          <div class="item--TaN">
            <div class="btn-nMk">취소</div>
            <div class="btn-qL2">삭제</div>
          </div>

        </div>
      </div>
    </div>
    <!-- 상세창 내부 끝 -->

  </div>
</div>

</div>
</body>