<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>모임목록</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A600%2C700%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%2C900"/>
  <link rel="stylesheet" th:href="@{/css/playListPage.css}"/>
</head>
<!-- head 끝 -->

<body>
<div class="item--YUv">


  <div class="auto-group-slf4-4TG">
    <div class="frame-1144-Zup">
      <div class="auto-group-ddcn-gDk">
        <div class="group-34-QQe">회원</div>
        <div class="auto-group-58us-doC">
          <p class="item--muQ">
            <span class="item--muQ-sub-0">활동 지역은 </span>
            <span class="item--muQ-sub-1">‘도란시’</span>
            <span class="item--muQ-sub-2"> 입니다.</span>
          </p>
          <p class="item--1xA">도란이 님</p>
          <p class="nnnn-nn-nn-iLn">nnnn. nn. nn</p>
        </div>
      </div>
      <div class="auto-group-ezwe-QUW">
        <p class="nnnn--vxe">
        오늘은 도란도란과 함께한 지
        <br/>
        + nnnn 일 되는 날입니다!
        </p>
      </div>
      <div class="rectangle-104-ECe">
      </div>
    </div>
    
    <!-- 공지로 넘어가기 -->
    <div class="auto-group-hpae-Zki">
      <div class="rectangle-105-7XL">
      </div>
      <div class="frame-1143-eXG">
        <p class="item--avi">도란도란을 누구보다 잘 이용하고 싶다면? </p>
        <div class="group-33-Tjc">
          <div class="rectangle-106-1WE">
          </div>
          <p class="item--YWA">공지 확인하기</p>
        </div>
      </div>
    </div>
    <!-- 공지로 넘어가기 -->
    
  </div>
  
  
  <div class="my-doran-QoG">MY DORAN</div>
  <div class="auto-group-dzia-7xa">
    <div class="auto-group-qadg-fDQ">
      <div class="rectangle-84-n38">
      </div>
      <div class="rectangle-88-udY">
      </div>
      <div class="rectangle-85-S7g">
      </div>
      <div class="rectangle-86-xbp">
      </div>
      <div class="rectangle-87-gXp">
      </div>
      <div class="frame-1147-D1x">
        <div class="item--X2e">개인 정보 확인      </div>
        <div class="item--pnS">모임 목록</div>
        <div class="item--vqU">장터 목록</div>
        <div class="item--ErA">작성한 글 목록</div>
        <div class="item--x1U">고객센터 글 목록</div>
      </div>
      <div class="icon-media-play-3Yi">
        <img class="icon-media-play-ANS" src="./assets/icon-media-play-2FY.png"/>
        <img class="vector-6Wz" src="./assets/vector-4ox.png"/>
        <div class="icon-media-play-dmp">
          <img class="vector-C4E" src="./assets/vector-Azr.png"/>
          <div class="icon-media-play-jpr">
            <img class="vector-6QW" src="./assets/vector-7xA.png"/>
            <img class="icon-media-play-2ox" src="./assets/icon-media-play.png"/>
          </div>
        </div>
      </div>
    </div>

    <!-- 상세창 내부 -->
    <div class="auto-group-8guq-xxW">
      <div class="auto-group-dnmx-KHG">
        <div class="item--Ev2">모임 목록</div>
        <div class="item--ZBc">내 모임 목록을 확인할 수 있습니다.</div>
      </div>
      <div class="auto-group-nuxn-EHk">
        <div class="group-31-ABQ">
          <div class="item--hSE">‘도란이’님의 모임 목록</div>
          <div class="list-kfQ">
            <div class="frame-1134-gox">
              <div class="auto-group-fur8-D3C">
                <div class="auto-group-cedg-viJ">
                  <div class="item--fA6">번호</div>
                  <div class="item--NKQ">제목</div>
                  <div class="item--HSN">날짜</div>
                  <div class="item--CZL">상태</div>
                </div>
                <div class="auto-group-qihy-7gJ">
                  <div class="item-1-qMQ">1</div>
                  <div class="item--jxa">예쁜 카페 가요~</div>
                  <div class="item-0000-00-00-do4">0000/00/00</div>
                  <div class="item--kcn">완료</div>
                </div>
                <div class="auto-group-ozvx-gFY">
                  <img class="btn1-o5G" src="./assets/btn1-V2W.png"/>
                  <div class="item-1-Lqt">1</div>
                  <img class="btn1-USJ" src="./assets/btn1.png"/>
                </div>
              </div>
            </div>
          </div>
          <div class="item--Apv">
            <div class="btn-6ia">취소</div>
            <div class="btn-ko8">삭제</div>
          </div>
        </div>
        <div class="group-32-c4e">
          <div class="item--Mnv">‘도란이’님의 모임 신청 목록</div>
          <div class="list-DaE">
            <div class="frame-1134-wWE">
              <div class="auto-group-pgqx-UFG">
                <div class="auto-group-urfp-bKt">
                  <div class="item--XDY">번호</div>
                  <div class="item--SLW">제목</div>
                  <div class="item--YuL">날짜</div>
                  <div class="item--U2J">상태</div>
                </div>
                <div class="auto-group-r78e-BhQ">
                  <div class="item-1-Wza">1</div>
                  <div class="item--Rre">오버워치 하실 분</div>
                  <div class="item-0000-00-00-8WA">0000/00/00</div>
                  <div class="item--FKt">진행 중</div>
                </div>
                <div class="auto-group-lcft-mZ8">
                  <img class="btn1-HGa" src="./assets/btn1-wHQ.png"/>
                  <div class="item-1-2V4">1</div>
                  <img class="btn1-N38" src="./assets/btn1-ZyG.png"/>
                </div>
              </div>
            </div>
          </div>
          <div class="item--TaN">
            <div class="btn-nMk">취소</div>
            <div class="btn-qL2">삭제</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 상세창 내부 끝 -->

  </div>
</div>
</body>