<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>고객센터 글 목록</title>
</head>
<!-- head 끝 -->

<body>
<div layout:fragment="content">

<link rel="stylesheet" th:href="@{/css/questionListPage.css}"/>

<div class="item--nzi">

  <div class="auto-group-eusc-V8S">
    <div class="frame-1144-zL6">
      <div class="auto-group-4xyt-hEW">
        <div class="group-34-DCr">회원</div>
        <div class="auto-group-qetj-pyL">
          <p class="item--xpe">
            <span class="item--xpe-sub-0">활동 지역은 </span>
            <span class="item--xpe-sub-1">‘<a th:text="${session.loginUser.userLoc}"></a>’</span>
            <span class="item--xpe-sub-2"> 입니다.</span>
          </p>
          <p class="item--Qq4"><a th:text="${session.loginUser.userNm}"></a> 님</p>
          <p class="nnnn-nn-nn-uWv"><a th:text="${session.loginUser.inputDtm}"></a></p>
        </div>
      </div>
      <div class="auto-group-7thx-cRL">
        <p class="nnnn--jF4">
        오늘은 도란도란과 함께한 지
        <br>
        + nnnn 일 
        <br>
        되는 날입니다!
        </p>
      </div>
      <div class="rectangle-104-RNn">
      </div>
    </div>
    
    <!-- 공지로 넘어가기 -->
    <div class="auto-group-pmlw-mBk">
      <div class="rectangle-105-VdY">
      </div>
      <div class="frame-1143-Rn6">
        <p class="item--Lu4">도란도란을 누구보다 잘 이용하고 싶다면? </p>
        <div class="group-33-21C">
          <div class="rectangle-106-At6">
          </div>
          <a class="item--7HY" href="/admin/getAdNoticeList" style="cursor: pointer;">공지 확인하기</a>
        </div>
      </div>
    </div>
    <!-- 공지로 넘어가기 -->
    
  </div>
  
  <div class="my-doran-AWi">MY DORAN</div>
  <div class="auto-group-63un-HLS">
    <div class="auto-group-ag6e-1nE">
      <div class="rectangle-84-wft">
      </div>
      <div class="rectangle-88-4kW">
      </div>
      <div class="rectangle-85-Bq8">
      </div>
      <div class="rectangle-86-X8J">
      </div>
      <div class="rectangle-87-RzN">
      </div>
      <div class="frame-1147-ASA">
        <div class="item--sLa" onclick="location.href='/userPage/updateUserPage'" style="cursor:pointer;">개인 정보 확인</div>
        <div class="item--aEz" th:onclick="|location.href='@{/userPage/playListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">모임 목록</div>
        <div class="item--szn" th:onclick="|location.href='@{/userPage/marketListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">장터 목록</div>
        <div class="item--auC" th:onclick="|location.href='@{/userPage/writingListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">작성한 글 목록</div>
        <div class="item--hD8" th:onclick="|location.href='@{/userPage/questionListPage?userNo={userNo} (userNo = ${session.loginUser.userNo})}'|" style="cursor:pointer;">고객센터 글 목록</div>
      </div>
      <div class="icon-media-play-Pbk">
        <img class="icon-media-play-i8E" th:src="@{/images/mediaPlayIcon.png}"/>
        <img class="vector-Sa2" th:src="@{/images/mediaPlayIcon.png}"/>
        <div class="icon-media-play-nNz">
          <img class="vector-9DY" th:src="@{/images/mediaPlayIcon.png}"/>
          <div class="icon-media-play-V2W">
            <img class="vector-qMG" th:src="@{/images/mediaPlayIcon.png}"/>
            <img class="icon-media-play-mki" th:src="@{/images/mediaPlayIcon.png}"/>
          </div>
        </div>
      </div>
    </div>

    <!-- 상세창 내부 -->
    <div class="auto-group-smwz-tqL">
      <div class="frame-1148-EeJ">
        <div class="item--kce">고객센터 글 목록</div>
        <div class="item--47Y">고객센터에 작성한 글 목록을 조회합니다.</div>
      </div>
      <div class="auto-group-ugjn-L54">
        <div class="group-31-TQa">
          <div class="item-1-1--oUS">‘<a th:text="${session.loginUser.userNm}"></a>’님의 1:1 문의 목록</div>
          <div class="list-ezr">
            <div class="frame-1134-yXL">
              <div class="auto-group-ywae-WGN">
              <table>
                <tr class="auto-group-trva-Ru8">
                  <td class="item--kRc">번호</td>
                  <td class="item--eG6">제목</td>
                  <td class="item--wkz">날짜</td>
                </tr>
                <tr th:each="myQuestion : ${myQuestion}" class="auto-group-383t-FWn">
                  <td th:text="${myQuestion.qNo}" class="item-1-yxa"></td>
                  <td th:text="${myQuestion.qTitle}" class="item--6GW"></td>
                  <td th:text="${myQuestion.inputDtm}" class="item-0000-00-00-yr6"></div>
                </tr>
              </table>
                <div class="auto-group-vdfy-hXC">
                  <img class="btn1-bsU" th:src="@{/images/btn1-5LA.png}"/>
                  <div class="item-1-wgS">1</div>
                  <img class="btn1-GTp" th:src="@{/images/btn1-mHp.png}"/>
                </div>
              </div>
            </div>
          </div>

          <div class="item--xLe">
            <div class="btn-ezA">취소</div>
            <div class="btn-uQJ">삭제</div>
          </div>

          <div class="group-31-LkW">
            <div class="item--gZU">‘<a th:text="${session.loginUser.userNm}"></a>’님의 신고 목록</div>
            <div class="list-Z7U">
              <div class="frame-1134-H3U">
                <div class="auto-group-cpsz-cLe">
                <table>
                  <tr class="auto-group-puej-L1k">
                    <td class="item--FuQ">번호</td>
                    <td class="item--MxS">제목</td>
                    <td class="item--fy8">날짜</td>
                  </tr>
                  <tr th:each="myRep : ${myRep}" class="auto-group-fq5g-BwU">
                    <td th:text="${myRep.repNo}" class="item-1-Wyk"></td>
                    <td th:text="${myRep.repTitle}" class="item--RL2"></td>
                    <td th:text="${myRep.inputDtm}" class="item-0000-00-00-KRQ"></td>
                  </tr>
                </table>
                  <div class="auto-group-thkg-36W">
                    <img class="btn1-9fL" th:src="@{/images/btn1-5LA.png}"/>
                    <div class="item-1-HWe">1</div>
                    <img class="btn1-pWa" th:src="@{/images/btn1-mHp.png}"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="item--7ka">
              <div class="btn-dyp">취소</div>
              <div class="btn-6sQ">삭제</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 상세창 내부 끝 -->

  </div>
</div>

</div>
</body>