<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  
<!-- head -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>개인정보변경</title>
  <link rel="stylesheet" th:href="@{/css/updateUserPage.css}"/>
</head>
<!-- head -->

<body>
<div class="item--yEn">

  <div class="auto-group-9rl6-UxE">
    <div class="frame-1144-oDp">
      <div class="auto-group-sfce-i5t">
        <div class="group-34-2MU">회원</div>
        <div class="auto-group-jkv6-4ox">
          <p class="item--DB4">
            <span class="item--DB4-sub-0">활동 지역은 </span>
            <span class="item--DB4-sub-1">‘도란시’</span>
            <span class="item--DB4-sub-2"> 입니다.</span>
          </p>
          <p class="item--fSN">도란이 님</p>
          <p class="nnnn-nn-nn-7ZG">nnnn. nn. nn</p>
        </div>
      </div>
      <div class="auto-group-wdiz-ybU">
        <p class="nnnn--6AJ">
        오늘은 도란도란과 함께한 지
        <br/>
        + nnnn 일 되는 날입니다!
        </p>
      </div>
      <div class="rectangle-104-P9Q">
      </div>
    </div>
    <div class="auto-group-yssz-7r6">
      <div class="rectangle-105-fMp">
      </div>
      
      <!-- 공지로 넘어가기 -->
      <div class="frame-1143-nxE">
        <p class="item--voY">도란도란을 누구보다 잘 이용하고 싶다면? </p>
        <div class="group-33-FjL">
          <div class="rectangle-106-cJz">
          </div>
          <p class="item--juQ">공지 확인하기</p>
        </div>
      </div>
      <!-- 공지로 넘어가기 -->
      
    </div>
  </div>
  
  <div class="my-doran-1M8">MY DORAN</div>
  <div class="auto-group-tkke-imL">
    <div class="auto-group-ewie-fAn">
      <div class="rectangle-84-CAi">
      </div>
      <div class="rectangle-88-KFL">
      </div>
      <div class="rectangle-85-ogJ">
      </div>
      <div class="rectangle-86-8yU">
      </div>
      <div class="rectangle-87-sAN">
      </div>
      <div class="frame-1146-bMG">
        <div class="item--uMx">개인 정보 확인      </div>
        <div class="item--1A6">모임 목록</div>
        <div class="item--hoc">장터 목록</div>
        <div class="item--zXp">작성한 글 목록</div>
        <div class="item--GkE">고객센터 글 목록</div>
      </div>
      <div class="icon-media-play-yuY">
        <img class="icon-media-play-WPg" th:src="@{/images/mediaPlayIcon.png}"/>
        <img class="vector-EqU" th:src="@{/images/mediaPlayIcon.png}"/>
        <div class="icon-media-play-PCa">
          <img class="vector-9Bk" th:src="@{/images/mediaPlayIcon.png}"/>
          <div class="icon-media-play-Hok">
            <img class="vector-qqG" th:src="@{/images/mediaPlayIcon.png}"/>
            <img class="icon-media-play-nVc" th:src="@{/images/mediaPlayIcon.png}"/>
          </div>
        </div>
      </div>
    </div>
    
    <!-- 상세창 내부 -->
    <div class="auto-group-p7le-5zW">
      <div class="auto-group-wp8a-bxr">
        <div class="item--7wC">개인 정보 확인</div>
        <div class="item--c7G">개인 정보를 확인하고 수정할 수 있습니다.</div>
      </div>
      <div class="auto-group-u4yi-gN2">
        <div class="item--Bpa">‘도란이’님의 개인 정보</div>
        <div class="auto-group-yafu-3Lz">
          <div class="item--8NS">아이디</div>
          <div class="dorandoran-d4J">dorandoran</div>
        </div>
        <div class="auto-group-25ml-92e">
          <div class="item--5S6">생년월일</div>
          <div class="item-0000-00-00-xEz">0000/00/00</div>
        </div>
        <div class="auto-group-wata-4J2">
          <div class="item--b34">성별</div>
          <div class="item--t2A">여성</div>
        </div>
        <div class="auto-group-2gm8-B1G">
          <div class="item--Hpz">이메일</div>
          <div class="group-19-zzJ">
            <div class="dorandorannaverc-8ai">dorandoran@naver.c</div>
            <div class="line-6-2vz">
            </div>
          </div>
        </div>
        <div class="auto-group-g9vc-YPY">
          <div class="item--G4e">전화번호</div>
          <div class="group-20-7b4">010-1234-5678</div>
        </div>
        <div class="auto-group-9ehg-ajY">
          <div class="item--6xn">닉네임</div>
          <div class="group-21-D1p">도란이</div>
        </div>
        <div class="auto-group-d9p8-65c">
          <div class="item--p1c">지역</div>
          <div class="group-22-tGN">oo시 oooo</div>
        </div>
        <div class="group-23-Ybp">ooo ooo</div>
        <div class="auto-group-8eqa-aoQ">정보 변경하기</div>
      </div>
    </div>
    <!-- 상세창 내부 끝 -->
    
  </div>
</div>
</body>