<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>작성한 글 목록</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A600%2C700%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua%3A400"/>
  <link rel="stylesheet" th:href="@{/writingListPage/mypage.css}"/>
</head>
<body>
<div class="item--T9Y">


  <div class="auto-group-6xuv-y7t">
    <div class="frame-1144-V6E">
      <div class="auto-group-5qh8-Bjk">
        <div class="group-34-hCJ">회원</div>
        <div class="auto-group-nvqa-vKx">
          <p class="item--4h4">
            <span class="item--4h4-sub-0">활동 지역은 </span>
            <span class="item--4h4-sub-1">‘도란시’</span>
            <span class="item--4h4-sub-2"> 입니다.</span>
          </p>
          <p class="item--84e">도란이 님</p>
          <p class="nnnn-nn-nn-Drn">nnnn. nn. nn</p>
        </div>
      </div>
      <div class="auto-group-hazv-j4S">
        <p class="nnnn--3L2">
        오늘은 도란도란과 함께한 지
        <br/>
        + nnnn 일 되는 날입니다!
        </p>
      </div>
      <div class="rectangle-104-iwx">
      </div>
    </div>
    
    <!-- 공지로 넘어가기 -->
    <div class="auto-group-gpu2-GTg">
      <div class="rectangle-105-oiW">
      </div>
      <div class="frame-1143-YRC">
        <p class="item--g1c">도란도란을 누구보다 잘 이용하고 싶다면?</p>
        <div class="group-33-M7k">
          <div class="rectangle-106-u9G">
          </div>
          <p class="item--q2v">공지 확인하기</p>
        </div>
      </div>
    </div>
    <!-- 공지로 넘어가기 -->
    
  </div>
  
  
  <div class="my-doran-hav">MY DORAN</div>
  <div class="auto-group-fkle-27Q">
    <div class="auto-group-xgen-MvN">
      <div class="rectangle-84-tfQ">
      </div>
      <div class="rectangle-88-R9Y">
      </div>
      <div class="rectangle-85-jvv">
      </div>
      <div class="rectangle-86-fpa">
      </div>
      <div class="rectangle-87-zbx">
      </div>
      <div class="frame-1147-vkW">
        <div class="item--eAi">개인 정보 확인      </div>
        <div class="item--jhx">모임 목록</div>
        <div class="item--ScN">장터 목록</div>
        <div class="item--9Ft">작성한 글 목록</div>
        <div class="item--Skn">고객센터 글 목록</div>
      </div>
      <div class="icon-media-play-M74">
        <img class="icon-media-play-534" src="./assets/mediaPlayIcon.png"/>
        <img class="vector-zfp" src="./assets/mediaPlayIcon.png"/>
        <div class="icon-media-play-8n2">
          <img class="vector-VMg" src="./assets/mediaPlayIcon.png"/>
          <div class="./assets/mediaPlayIcon.png">
            <img class="vector-zpE" src="./assets/mediaPlayIcon.png"/>
            <img class="icon-media-play-k2i" src="./assets/mediaPlayIcon.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-dwes-GWr">
      <div class="frame-1148-1zE">
        <div class="item--Lmc">작성한 글 목록</div>
        <div class="item--eXQ">작성한 글 목록을 조회합니다.</div>
      </div>
      <div class="auto-group-adxg-wWW">
        <div class="item--Tze">‘도란이’님의 게시글 목록</div>
        <div class="item--v7Y">
          <div class="rectangle-100-SLn">
          </div>
          <div class="btn-ZgJ">검색</div>
        </div>
        <div class="list-pcE">
          <div class="auto-group-xbx6-mnN">
            <div class="item--TQJ">
              <div class="item--yNe">번호</div>
              <div class="item--5Rg">제목</div>
              <div class="item--naz">날짜</div>
            </div>
            <div class="group-26-WWz">
              <div class="item-1-eNJ">1</div>
              <div class="item--xNz">예쁜 카페 가요~</div>
              <div class="item-0000-00-00-Tae">0000/00/00</div>
            </div>
            <div class="group-24-NSi">
              <div class="item-2-JrA">2</div>
              <div class="item--2GN">예쁜 카페 가요~</div>
              <div class="item-0000-00-00-KWN">0000/00/00</div>
            </div>
            <div class="group-25-qjc">
              <div class="item--B2n">예쁜 카페 가요~</div>
              <div class="item-0000-00-00-SjQ">0000/00/00</div>
              <div class="item-1-Lpn">1</div>
              <div class="group-24-eKg">
                <div class="item-3-az2">3</div>
                <div class="item--hYr">예쁜 카페 가요~</div>
                <div class="item-0000-00-00-obt">0000/00/00</div>
              </div>
            </div>
            <div class="group-27-WmC">
              <div class="item-4-3m8">4</div>
              <div class="item--xdC">예쁜 카페 가요~</div>
              <div class="item-0000-00-00-Tpr">0000/00/00</div>
            </div>
            <div class="group-28-PiW">
              <div class="item-5-wEE">5</div>
              <div class="item--r6J">예쁜 카페 가요~</div>
              <div class="item-0000-00-00-jft">0000/00/00</div>
            </div>
            <div class="group-30-rVc">
              <img class="btn1-ND4" src="./assets/btn1-zmt.png"/>
              <div class="item-1-WKG">1</div>
              <img class="btn1-SCv" src="./assets/btn1-ZZQ.png"/>
            </div>
          </div>
        </div>
        <div class="item--tai">
          <div class="btn-1QS">취소</div>
          <div class="btn-fUz">삭제</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>