<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			function search() {
				let searchKeyword = $('#searchKeyword').val();
				let shareCat = $("input:radio[name=shareCat]:checked").val();
				console.log(searchKeyword);
				location.href = "/share/selectShareList?searchKeyword=" + searchKeyword + "&shareCat=" + shareCat;
			}

			$(function () {
				$("input:radio[name=shareCat]").click(function () {
					search();
				});
				
				const shareCat = /*[[${pagination.shareCat}]]*/;

				$("input:radio[name='shareCat']:radio[value=" + shareCat + "]").prop("checked", true);
			});
		</script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<link rel="stylesheet" th:href="@{/css/boardTitle.css}" />
		<link rel="stylesheet" th:href="@{/css/share.css}" />


		<div class="v19_9">

			<div class="v89_238">
				<div class="v89_239" style="background-color: #cfe1fc;"></div>
				<div class="v89_240" style="background-color: #cfe1fc;"></div>
				<span class="v89_241">공유해요</span>
			</div>

			<div class="v89_245">
				<img class="backImg" th:src="@{/images/boardBack_b.png}" />
			</div>
			<div class="v89_249">
				<img class="iconImg" th:src="@{/images/shareIcon.png}" />
			</div>

			<div class="v21_78"><span class="v21_80">혼자 알기엔 아까운 곳들이 있다면 여기서 소문을 내주세요!</span>
				<span class="v21_81">동네에 소문이 난다면 핫플이 되는 건 순식간이랍니다.<br>
					하지만 꼭 기억하세요 !<br>
					핫플이 되는 순간, 여유로운 이용은 어려워질 거에요!</span>
			</div>

			<div class="selectBtns">
				<input type="radio" id="select1" name="shareCat" value="" checked><label for="select1">전체</label>
				<input type="radio" id="select2" name="shareCat" value="맛집"><label for="select2">맛집</label>
				<input type="radio" id="select3" name="shareCat" value="병원"><label for="select3">병원</label>
				<input type="radio" id="select4" name="shareCat" value="홍보"><label for="select4">홍보</label>
			</div>

			<div class="shareListContainer">
				<table id="shareTable">
					<tr>
						<th>NO</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성일</th>

					</tr>
					<tr th:each="share : ${selectShareList}">
						<td th:text=${share.shareNo}></td>
						<td>
							<a th:text="${share.shareTitle}"
								th:href="@{/share/selectShare?shareNo={shareNo} (shareNo = ${share.shareNo})}">
							</a>
						</td>
						<td th:text="${share.userNm}"></td>
						<td th:text="${share.inputDtm eq null ? '' : #strings.substring(share.inputDtm, 0, 10)}"></td>

					</tr>
				</table>
			</div>

			<div th:if="${session.loginUser ne null}" th:remove="tag">
				<button class="insertPageBtn_b" onclick="location.href='/share/insertSharePage'">공유하기</button>
			</div>

			<div th:if="${session.loginUser eq null}" th:remove="tag">
				<button class="insertPageBtn_b" onclick="location.href='/temp/loginPage'">로그인 후 공유하기</button>
			</div>

			<div class="searchInput">
				<input id="searchKeyword" name="searchKeyword">
				<button class="searchIcon" onclick="search();"></button>
			</div>

			<div class="pagation">
				<div class="page">
					<ul class="pagination modal">
						<li class="page-item">
							<a class="first"
								th:href="@{/share/selectShareList?page=1&searchKeyword={keyword} (keyword = ${pagination.searchKeyword})}">
								처음
							</a>
						</li>
						<li class="page-item">
							<a class="arrow left"
								th:href="@{/share/selectShareList?page={page}&searchKeyword={keyword} (page = ${pagination.page}-1, keyword = ${pagination.searchKeyword}) }">
								<< </a>
						</li>
						<th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							<li class="page-item" th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
								th:each="pageButton : ${#numbers.sequence(start, end)}">
								<a class="num"
									th:href="@{/share/selectShareList?page={page}&searchKeyword={keyword} (page = ${pageButton}, keyword = ${pagination.searchKeyword} )}"
									th:text=${pageButton}></a>
							</li>
						</th:block>
						<li class="page-item">
							<a class="arrow right"
								th:href="@{/share/selectShareList?page={page}&searchKeyword={keyword} (page = ${pagination.page}+1, keyword = ${pagination.searchKeyword})}">
								>>
							</a>
						</li>
						<li class="page-item">
							<a class="last"
								th:href="@{/share/selectShareList?page={page}&searchKeyword={keyword} (page = ${pagination.totalPageCnt}, keyword = ${pagination.searchKeyword} )}">
								<span aria-hidden="true">끝</span>
							</a>
						</li>
					</ul>
				</div>

			</div>



		</div>
</body>

















</html>