<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<aside th:fragment="aside">
		<div id="sideCon">
			<nav id="nav1">
				<div></div>
				<ul id="sideUl">
					<li>
						<a id="sec1" th:href="@{/cscenter/noticeList}">공지사항</a>
					</li>
					<li>
						<a id="sec2" th:href="@{/cscenter/faq}">FAQ</a>
					</li>
					<li>
						<a id="sec3" th:href="@{/cscenter/questionList}">1:1 문의</a>
					</li>
					<li>
						<a id="sec4" th:href="@{/cscenter/repList}">신고게시판</a>
					</li>
				</ul>
			</nav>
		</div>
	</aside>
</body>

















</html>