<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function () {

			});
		</script>
	</th:block>

	<th:block layout:frament="css">
		<style>
			body {
				height: 100%;
			}
		</style>
	</th:block>

</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
	
		<link rel="stylesheet" th:href="@{/css/play.css}" />
		
		<form id="insertPlay" method="post" action="/play/insertPlay">
			<div class="v89_238">
				<div class="v89_239"></div>
				<div class="v89_240"></div>
				<span class="v89_241">놀아줘요</span>
			</div>
			<span class="v112_784">놀아줘요 글쓰기</span>
			<div class="v89_245">
				<img class="backImg" th:src="@{/images/boardBack.png}" />
			</div>
			<div class="v89_249">
				<img class="iconImg" th:src="@{/images/playIcon.png}" />
			</div>
			<!-- 제목 -->
				<input id="playTitleInput" class="playTitleInput" name="playTitle" placeholder="제목을 입력하세요.">
			<!-- 내용 -->
				<textarea id="playContentInput" class="playContentInput" name="playContent" placeholder="내용을 입력하세요."></textarea>
			<div class="v112_53">
			</div>
			<button id="insertBtn" class="insertBtn" type="submit">등록</button>
		</form>
			<button id="cancelBtn" class="cancelBtn" onclick="location.href='/play/selectPlayList'">취소</button>
		
	</div>
</body>

















</html>