<!DOCTYPE html>
<html lang="ko"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
     
   <!-- head 영역 시작 -->
   <!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->
   <head>
      <th:block layout:fragment="script">
         <script th:inline="javascript">
            $(function() {
               
            });
         </script>
      </th:block>
      
      <th:block layout:frament="css">
         <style>
            body {
               height: 100%;
            }
         </style>
      </th:block>
   </head>
   <!-- head 영역 끝 -->

<body>
   <div layout:fragment="content">
      <div class="main-R2e">
        <div class="auto-group-nqqz-YNA">
          <div class="line2-Umc">
          </div>
          <div class="notice-CBp">
            <div class="auto-group-hvpl-Xjt">
              <div class="rectangle-50-eZc">
              </div>
              <p class="notice-BZY">NOTICE</p>
            </div>
            <div class="rectangle-49-sxA">
            </div>
          </div>
        </div>
        <div class="group-15-QhC">
          <div class="auto-group-necz-LKx">
            <img class="vector-3kA" src="./images/vector-9KU.png">
          </div>
          <p class="top--y82">도란도란 인기 TOP 게시글</p>
        </div>
        <div class="auto-group-udoy-gHL">
          <div class="line-DYA">
          </div>
          <div class="topcontent-wyx">
            <div class="auto-group-y7yc-UU6">
              <div class="group-16-RPL">
                <div class="rectangle-50-kRc">
                </div>
                <p class="item--5Tt">놀아줘요</p>
              </div>
              <div class="rectangle-49-xXg">
              </div>
            </div>
            <div class="auto-group-rdbg-VGi">
              <div class="group-17-Ek6">
                <div class="rectangle-50-mV8">
                </div>
                <p class="item--JEA">도와줘요</p>
              </div>
              <div class="rectangle-50-ahU">
              </div>
            </div>
            <div class="auto-group-u7s8-Kf4">
              <div class="group-16-sAn">
                <div class="rectangle-50-P98">
                </div>
                <p class="item--iBQ">함께해요</p>
              </div>
              <div class="rectangle-51-Q4E">
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
   </body>
</html>