<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<th:blcok layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/findIdCheck.css}">
	</th:blcok>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function () {
				$("#fidCheckBtn").on("click", function (e) {
					var Nm = $("#userNm").val();
					var Email = $("#userEmail").val();

					var postData = {'userNm': Nm, 'userEmail': Email};

					$.ajax({
						url: "/user/idfCheck",
						type: "post",
						data: postData,

						success: function (obj) {
							console.log(obj);
							if (obj.item.msg == 'findSuccess') {
								$("#findId").val(obj.item.findId);
								$("#findIdCheckForm").submit();
							} else if (obj.item.msg === 'nameFail') {
								alert("존재하지 않는 사용자 이름입니다.");
								return;
							} else if (obj.item.msg === 'emailFail') {
								alert("잘못된 이메일입니다.");
								return;
							}
						}
					})
				})
			})

		</script>
	</th:block>
</head>



<body>
	<div layout:fragment="content">
		<div class="findidcheck-22r">
			<form id="findIdCheckForm" action="/user/findId" method="post">
				<input type="hidden" id="findId" name="userId">
				<img class="image-5-kjY" src="/images/findEtc.png">
				<img class="oh-no-amico-1-VSE" src="/images/idFindIcon.png">
				<p class="item--E8v">아이디를 잊어버리셨나요?</p>
				<div class="rectangle-35-6gv">
				</div>
				<input type="text" id="userNm" name="userNm" 
				placeholder="이름을 입력하세요." class="rectangle-46-DWe"
				style="padding: 4px;">
				<input type="text" id="userEmail" name="userEmail" 
				placeholder="이메일을 입력하세요." class="rectangle-47-vfx"
				style="padding: 4px;">
				<!--  <div class="rectangle-48-e6A">
  </div>-->
				<button type="button" name="fidCheckBtn" id="fidCheckBtn" class="btnF">확인</button>
				<p class="item--5hG">이름</p>
				<p class="item--zZL">이메일</p>
			</form>
		</div>
	</div>
</body>

</html>