<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	  
	<!-- head 영역 시작 -->
	<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->
<head>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				$(function() {
					
				});
			</script>
		</th:block>
		
		<th:block layout:frament="css">
			<style>
				body {
					height: 100%;
				}
			</style>
		</th:block>
	</head>
	<!-- head 영역 끝 -->
	<body>
		<div class="findidcheck-22r">
		  <img class="image-5-kjY" src="./assets/image-5-aKG.png">
		  <img class="oh-no-amico-1-VSE" src="./assets/oh-no-amico-1.png">
		  	<p class="item--E8v">아이디를 잊어버리셨나요?</p>
		  <div class="rectangle-35-6gv"></div>
		  <div class="rectangle-46-DWe"></div>
		  <div class="rectangle-47-vfx"></div>
		  <div class="rectangle-48-e6A"></div>
			  <p class="item--B66">확 인</p>
			  <p class="item--5hG">이름</p>
			  <p class="item--zZL">이메일</p>
		  <img class="item-01-1-tuc" src="./assets/-86a.png">
		</div>
	</body>
</html>
	