<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/css/findPwCheck.css}">
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(function () {
				$("#findPw_Check").on("click", function (e) {
					var userId = $("#userId").val();
					var userEmail = $("#userEmail").val();
					var postData = {'userId': userId, 'userEmail': userEmail};
					$.ajax({
						url: "/user/pwfCheck",
						type: "post",
						data: postData,

						success: function (obj) {
							console.log(obj);
							if (obj.item.msg === 'findPwSuccess') {
								console.log("성공");
								$("#findPw").val(obj.item.findPw);
								$("#findPwCheckForm").submit();
							} else if (obj.item.msg === 'idFail') {
								alert("존재하지 않는 사용자 아이디입니다.");
								return;
							} else if (obj.item.msg === 'emailFail') {
								alert("잘못된 이메일입니다.");
								return;
							}},
							error: function (e) {
								console.log(e);
							}
						


					});


				});
			});

		</script>
	</th:block>
</head>

<body>
	<div layout:fragment="content">
		<div class="findpwcheck-Myg">
			<img class="questions-pana-1-JP8" src="/images/pwFindIcon.png">
			<img class="image-6-2K8" src="/images/findEtc.png">
			<p class="item--xTg">비밀번호를 찾으시나요?</p>
			<div class="rectangle-49-2yL">
			</div>
			<form id="findPwCheckForm" action="/user/findPw" method="post">
				<input type="hidden" id="findPw" name="userPw">
				<input type="text" id="userId" name="userId" class="rectangle-50-waW">
				<input type="text" id="userEmail" name="userEmail" class="rectangle-51-Fr6">
				<button type="button" id="findPw_Check" name="findPw_Check" class="btnF1">찾기</button>
			</form>
			<p class="item--Cuk">아이디</p>
			<p class="item--Jht">이메일</p>
		</div>
	</div>
</body>

</html>