<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <title>FindPW</title>
  <link rel="stylesheet" th:href="@{/css/findPw.css}">
</head>

	<body>
		<div class="findpw-WaS">
		  <img class="image-8-EmL" src="/assets/image-8.png">
		  <p class="item--A9C">비밀번호를 찾았습니다!</p>
		  <div class="rectangle-49-DNN">
		  </div>
		  <div class="rectangle-50-obU">
		  </div>
		  <a th:href="@{/user/login}" class="item--LLW">확 인</a>
		  <p class="item--2z2">해당 이메일로 비밀번호를 전송합니다.</p>
		  <div class="jaewonjkgmailcom-Vsc">jaewon.jk@gmail.com</div>
		  <img class="image-11-d6e" src="/assets/image-11.png">
		  <img class="item-01-1-M2e" src="/assets/.png">
		</div>
	</body>
</html>