<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <title>FindPW</title>
  <th:block layout:fragment="css">
  	<link rel="stylesheet" th:href="@{/css/findPw.css}">
  </th:block>
  <th:block layout:fragment="script">
  	<script th:inline="javascript">
  
  	</script>
  </th:block>
</head>

	<body>
		<div class="findpw-WaS">
		  <img class="image-8-EmL" src="/assets/image-8.png">
		  <p class="item--A9C">비밀번호를 찾았습니다!</p>
		  <div class="rectangle-49-DNN">
		  </div>
		  <button type="button" id="pwFindSuccessBtn" name="pwFindSuccessBtn"  onclick="location.href='/login'" class="rectangle-50-obU">
		  확인</button>
		  <p class="item--2z2">해당 이메일로 비밀번호를 전송합니다.</p>
		  <div class="jaewonjkgmailcom-Vsc" th:text="${userEmail}"></div>
		  <img class="image-11-d6e" src="/assets/image-11.png">
		  <img class="item-01-1-M2e" src="/assets/.png">
		</div>
	</body>
</html>