<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <title>Login</title>
  <th:block layout:fragment="css">
	  <link rel="stylesheet" th:href="@{/css/login.css}">
  </th:block>
  <th:block layout:fragment="script">
  	<script th:inline="javascript">
		  

		<!-- 일반 로그인 -->
		  $(function(){
			  $("#btnLogin").on("click",function(e){
				  $.ajax({
					  url: '/user/login',
					  type: 'post',
					  data : $("#loginForm").serialize(),
					  success:function(obj){
						  console.log(obj);
						  if(obj.item.msg == "loginSuccess"){
							alert("로그인되었습니다.");
							window.location.href="/main";
							
						  }else if(obj.item.msg == "idFail"){
							  alert("아이디가 존재하지 않습니다.");
							  return;
						  }else{
  							  alert("비밀번호가 틀렸습니다.");
							  return;
						  }
					  },
					  error: function(e){
						  console.log(e);
					  }
				  })
			  });
		  });
		  
		  
	  
	
  	</script>
  </th:block>
</head>

<body>
<div layout:fragment="content">
<div class="login-r4v">
	<form id="loginForm" action="/user/loginProc" method="post">
  <div class="background-oF4">
    <div class="auto-group-hvby-isp">
      <div class="auto-group-c1sq-4wg">
        <div class="auto-group-ouc6-cTQ">
          <div class="rectangle-37-MA6">
          </div>
          <div class="rectangle-36-su8">
          </div>
          <img class="item-01-1-cbp" src="/assets/-3PU.png">
        </div>
        <div class="auto-group-6rwe-iPx">
          <div class="rectangle-45-UP8">
          </div>
          <div class="rectangle-41-zsG">
          </div>
        </div>
      </div>
      <div class="auto-group-4hna-ioG">
        <div class="rectangle-39-dQS">
        </div>
        <div class="rectangle-38-wvv">
        </div>
        <div class="rectangle-43-g7p">
        </div>
        <div class="rectangle-30-DNe">
        </div>
        <!-- 카카오 로그인 버튼 이미지-->
        <button type="button" name="KakaoBtn" class="kakaologinmediumwide-1-vnr"  onclick="loginWithKakao()"><img src="/assets/kakaologinmediumwide-1.png"></button>
<!--        <img class="kakaologinmediumwide-1-vnr" src="/assets/kakaologinmediumwide-1.png"
        onclick="loginWithKakao()">-->
       <!-- 비밀번호-->
        <input type="password" name="userPw" class="pwinput-SWJ">
          <img class="image-3-kWz" src="/assets/image-3.png">
        </input>
        <!-- 아이디 -->
        <input type="text" name="userId" class="idinput-4Gn"> 
          <img class="image-4-P4A"  src="/assets/image-4.png" >
        </input>
        <div class="findWrapper">
			<a th:href="@{/user/findIdCheck}" class="item--u2W">아이디 찾기 |</a>
			<a th:href="@{/user/findPwCheck}" class="item--u3W">비밀번호 찾기 |</a>
			<a th:href="@{/user/join}" class="item--u4W">회원가입</a>   
		</div>   
<!--			<p class="item--u2W">아이디 찾기  |  비밀번호 찾기  |  회원가입</p>-->
        <div class="loginbtn-Xpa">
			<button type="submit" id="btnLogin" name="btnLogin" class="btnL">로그인</button>
<!--          <button type="button" id="btnLogin" name="btnLogin" class="rectangle-33-UE2">로그인</button>
--><!--          <div class="item--QNa">로그인</div>
-->        </div>
      </div>
    </div>
    <div class="auto-group-rsaa-5Dp">
      <div class="auto-group-s1aa-1NN">
        <div class="rectangle-40-8C6">
        </div>
        <div class="rectangle-42-FnW">
        </div>
      </div>
      <div class="rectangle-44-PNv">
      </div>
    </div>
  </div>
  <p class="login-XV8">LOGIN</p>
  </form>
</div>
</div>
</body>
</html>