<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<!-- head 영역 시작 -->
<!-- 개별적으로 사용할 css, js 링크 걸기 위해 남겨둠 -->

<head>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			function textOver(marketNo) {
				$("#text" + marketNo).css("display", "block");
			};

			function textOut(marketNo) {
				$("#text" + marketNo).css("display", "none");
			};

			function search() {
				let searchKeyword = $('#searchKeyword').val();
				console.log(searchKeyword);
				location.href = "/market/selectMarketList?searchKeyword=" + searchKeyword;
			}
		</script>
	</th:block>
</head>
<!-- head 영역 끝 -->

<body>
	<div layout:fragment="content">
		<link rel="stylesheet" th:href="@{/css/boardTitle.css}" />
		<link rel="stylesheet" th:href="@{/css/market.css}" />


		<div class="v19_9" style="height: 1373px;">

			<div class="v89_238">
				<div class="v89_239"></div>
				<div class="v89_240"></div>
				<span class="v89_241">도란장터</span>
			</div>

			<div class="v89_245">
				<img class="backImg" th:src="@{/images/boardBack.png}" />
			</div>
			<div class="v89_249">
				<img class="iconImg" th:src="@{/images/marketIcon.png}" />
			</div>

			<div class="v21_78"><span class="v21_80">활발한 거래를 도모하는 도란도란 도란장터 게시판입니다.</span>
				<span class="v21_81">이 곳에서는 개인 간의 거래가 진행됩니다.<br>
					구매하고자하는 물건은 누구보다 빨리 낚아채세요~!<br>
					모두 단 하나뿐인 물건들이랍니다.</span>
			</div>


			<div th:if="${session.loginUser ne null}" th:remove="tag">
				<button class="insertPageBtn" onclick="location.href='/market/insertMarketPage'"
					style="z-index : 1;">판매하러 가기</button>
			</div>

			<div th:if="${session.loginUser eq null}" th:remove="tag">
				<button class="insertPageBtn" onclick="location.href='/temp/loginPage'" style="z-index : 1;">로그인 후
					판매하기</button>
			</div>
			<div class="container">
				<div class="boardContainer"></div>
				<div class="boardContainer">
					<div class="marketListContainer" th:each="list : ${list}"
						th:onmouseover="'textOver('+${list.marketNo}+');'"
						th:onmouseout="'textOut('+${list.marketNo}+');'">
						<div th:if="${list.imageNm ne null}" th:remove="tag">
							<img th:src="@{'/upload/' + ${list.imageNm}}" th:id="'prodImg'+${list.marketNo}"
								class="prodImage">
							<div th:id="'text'+${list.marketNo}" class="text" style="display:none;"
								th:onclick="|location.href='@{/market/selectMarket?marketNo={marketNo} (marketNo = ${list.marketNo})}'|">
								<a class="title" th:text="${list.prodNm}"></a><br>
								<a class="price" th:text="${list.price} +' 원'"></a>

								<div th:if="${list.status eq '거래완료'}" th:remove="tag">
									<a class="status" th:text="${list.status}" style="background: red;"></a>
								</div>

								<div th:if="${list.status ne '거래완료'}" th:remove="tag">
									<a class="status" th:text="${list.status}"></a>
								</div>


							</div>
						</div>

						<div th:if="${list.imageNm eq null}" th:remove="tag">
							<div style="height:100%; cursor:pointer;"
								th:onclick="|location.href='@{/market/selectMarket?marketNo={marketNo} (marketNo = ${list.marketNo})}'|">
								<a class="title" th:text="${list.prodNm}"></a><br>
								<a class="price" th:text="${list.price} +' 원'"></a>
								<div th:if="${list.status eq '거래완료'}" th:remove="tag">
									<a class="status" th:text="${list.status}" style="background: red;"></a>
								</div>

								<div th:if="${list.status ne '거래완료'}" th:remove="tag">
									<a class="status" th:text="${list.status}"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="searchInput">
				<input id="searchKeyword" name="searchKeyword">
				<button class="searchIcon" onclick="search();"></button>
			</div>


			<div class="pagation">
				<div class="page">
					<ul class="pagination modal">
						<li class="page-item">
							<a class="first"
								th:href="@{/market/selectMarketList?page=1&searchKeyword={keyword} (keyword = ${pagination.searchKeyword})}">
								처음
							</a>
						</li>
						<li class="page-item">
							<a class="arrow left"
								th:href="@{/market/selectMarketList?page={page}&searchKeyword={keyword} (page = ${pagination.page}-1, keyword = ${pagination.searchKeyword}) }">
								<< </a>
						</li>
						<th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							<li class="page-item" th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
								th:each="pageButton : ${#numbers.sequence(start, end)}">
								<a class="num"
									th:href="@{/market/selectMarketList?page={page}&searchKeyword={keyword} (page = ${pageButton}, keyword = ${pagination.searchKeyword} )}"
									th:text=${pageButton}></a>
							</li>
						</th:block>
						<li class="page-item">
							<a class="arrow right"
								th:href="@{/market/selectMarketList?page={page}&searchKeyword={keyword} (page = ${pagination.page}+1, keyword = ${pagination.searchKeyword})}">
								>>
							</a>
						</li>
						<li class="page-item">
							<a class="last"
								th:href="@{/market/selectMarketList?page={page}&searchKeyword={keyword} (page = ${pagination.totalPageCnt}, keyword = ${pagination.searchKeyword} )}">
								<span aria-hidden="true">끝</span>
							</a>
						</li>
					</ul>
				</div>
			</div>


		</div>
	</div>
</body>

</html>